.schedule-hero {
  position: relative;
  width: 100%;
  height: 100vh; // span the entire viewport height
  overflow: hidden;
  background-color: var(--monster);
}

.hero-background {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.checkerboard {
  width: 100%;
  height: 50%; // purple checkerboad pattern for half the screen

  background-image: conic-gradient(
    var(--monster) 0.25turn,
    var(--jam) 0.25turn 0.5turn,
    var(--monster) 0.5turn 0.75turn,
    var(--jam) 0.75turn
  );

  background-size: 100px 100px; // size of the checkerboard squares
}

.dance-floor {
  height: 50%; // Keeps the bottom dance floor covering the other half of the screen
  width: 100%;
}

.hero-foreground {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
