/* Compiled CSS */
body {
    background-color: #6b46c1;
    color: #fff;
    min-height: 100vh;
   }
   
   
   @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
   }
   
   
   .animate-pulse {
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
   }
   
   
   header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
   }
   
   
   .logo-container {
    display: flex;
    gap: 1rem;
   }
   
   
   .placeholder {
    background-color: #9f7aea;
    border-radius: 0.25rem;
   }
   
   
   main {
    padding: 1.5rem;
    gap: 1.5rem;
   }
   
   
   .banner {
    height: 5rem;
    border-radius: 0.25rem;
   }
   
   
   .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
   }
   
   
   .item {
    height: 9rem;
    border-radius: 0.25rem;
   }
   
   
   .schedule {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   }
   
   
   .button-container {
    display: flex;
    gap: 1rem;
   }
   
   
   .button {
    flex-grow: 1;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
   }
   
   
   @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
   }
   
   
   