@import '../../scssStyles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Jersey+20&family=Jersey+25&display=swap');

a.no-link-style {
  all: unset;
  display: inline-block;
}

.event-card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem 1rem;
  padding: 0;

  .card-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    position: relative;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .text-section {
    padding: 50px 50px;
    flex: 1;
    z-index: 2;

    @media (max-width: 1000px) {
      padding: 30px 30px;
    }

    h2 {
      font-size: 48px;
      width: 80%;
      margin-bottom: 0.8rem;
      font-weight: 900;

      @include devices(tablet) {
        font-size: 36px;
        // width: 60%;
        margin-bottom: 25px;
      }
    }

    p {
      font-size: 18px;
      margin-bottom: 40px;
      line-height: 1.5;
      width: 80%;

      @media (max-width: 1000px) {
        width: 100%;
        margin-bottom: 20px;
        display: none;
      }

      @include devices(huge) {
        font-size: 26px;
      }
    }

    .learn-more-btn {
      background-color: transparent;
      // color: var(--text-primary);
      padding: 0.6rem 1.2rem;
      // border: var(--text-primary) 2px solid;
      border-radius: 25px;
      font-weight: bold;
      cursor: url('../../../assets/cursor/pointer.png'), auto;
      transition: all 150ms ease-in-out;

      &:hover {
        transition: all 150ms ease-in-out;
        background-color: #ffffff20;
        scale: 103%;
      }
    }

    .button-white {
      border: white 2px solid;
      color: white;
    }

    .button-black {
      border: black 2px solid;
      color: black;
    }
  }

  .image-section {
    position: relative;
    width: 40%;
    flex-shrink: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    // Diamond mask on the left side
    clip-path: polygon(
      0% 50%,
      // left middle (diamond tip)
      15% 0%,
      // top left
      100% 0%,
      // top right
      100% 100%,
      // bottom right
      15% 100% // bottom left
    );

    @include devices(tablet) {
      display: none;
    }
  }
}

/* === COLOR UTILITIES === */
.bg-yellow {
  background-color: var(--mikado);
}
.bg-purple {
  background-color: var(--jam);
}
.text-black {
  color: black;
}
.text-white {
  color: white;
}
