@import '../../../scssStyles/_mixins.scss';

.button-round {
  background-color: var(--jam);
  color: white;
  border-radius: 50px;
  padding: 20px 30px;
  text-align: center;
  font-weight: 800;
  transition: all 300ms ease-in-out;

  &:hover {
    transform: scale(1.05);
    transition: all 300ms ease-in-out;
  }
}

.button-round-secondary {
  background-color: var(--transparent);
  background-color: var(--vignette);
  color: white;
  border: 2px solid white;
}

.button-round-disabled {
  opacity: 0.6;
  cursor: unset; // add disabled cursor
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  border: 2px solid var(--button-outlined-disabled-border);
}
