@import '../../scssStyles/mixins';

.faq-page-header {
  position: relative;
  height: 50vh;
  min-height: 400px;
  background-color: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.faq-page-header-container {
  width: 80%;
}

.faq-button-selector-container {
  margin: 0px 10% 0px 10%;
  width: 80%;
  display: flex;
  justify-content: center;
}

.faq-hide-button-selector {
  display: none;
}

.faq-display-questions-container {
  margin: 50px 10% 100px 10%;
  width: 80%;
}

.faq-page-header-text {
  padding-left: 5%;
  h1 {
    font-size: 90px;
    color: var(--text-light);
  }
  h2 {
    font-size: 50px;
    color: var(--text-light);
    line-height: 0.7;
  }
  p {
    font-size: 25px;
    color: var(--text-light);
  }
}

.faq-page-header-search {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 50px auto 50px;
  box-shadow: var(--shadow);
}

.searchIcon {
  height: 50px;
  width: 50px;
  color: var(--gray);
  background-color: white;
  display: grid;
  place-items: center;
  padding-left: 10px;
  border-radius: 15px 0px 0px 15px;
}

.searchIcon:hover {
  cursor: pointer;
  img {
    opacity: 1;
    transition: 200ms opacity;
  }
}

.searchIcon img {
  height: 18px;
  opacity: 0.6;
  transition: 200ms opacity;
}

.deleteIcon {
  height: 50px;
  width: 50px;
  color: var(--gray);
  background-color: white;
  display: grid;
  place-items: center;
  padding-right: 10px;
  border-radius: 0px 15px 15px 0px;
}

.deleteIcon:hover {
  cursor: pointer;

  img {
    opacity: 1;
    transition: 200ms opacity;
  }
}

.deleteIcon img {
  height: 25px;
  opacity: 0.6;
  transition: 200ms opacity;
}

.faq-page-header-searchbar {
  background-color: white;
  border: 0;
  border-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  height: 50px;
  width: 100%;
}

.faq-search input:focus {
  outline: none;
}

.faq-search-input {
  margin-top: 2px;
}

.faq-data-result {
  width: calc(100% + 100px);
  margin-left: -50px;
  height: 200px;
  background-color: white;
  box-shadow: var(--shadow) 0px 15px 15px;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 2;
  border-radius: 0px 0px 15px 15px;
}

.faq-data-result::-webkit-scrollbar {
  display: none;
}

.faq-data-result .faq-data-item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.faq-data-item p {
  margin-left: 10px;
}

.faq-data-result div {
  text-decoration: none;
  transition: background-color 200ms, border-color 200ms;
}

.faq-data-item:hover {
  cursor: pointer;
}

.faq-data-result div:hover {
  background-color: var(--purple-shades-light);
  transition: background-color 200ms, border-color 200ms;
}

.faq-search-result-wrapper {
  padding-left: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.faq-wave-image {
  width: 100vw;
  height: 6vh;
  object-fit: fill;
  @include devices(tablet) {
    height: 5vh;
  }
}

.faq-page-top-wave-image {
  filter: drop-shadow(-10px 10px 8px #23232342);
}

.faq-accordion-container {
  margin: 25px 0% 50px 0%;
}

.faq-accordion-wrapper {
  margin: 15px 10% 20px 10%;
}

.faq-accordion-wrapper:hover {
  cursor: pointer;
}

.faq-hide-accordion {
  display: none;
}

.faq-search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 45px;
  width: 100%;
}

.faq-search-results-hide {
  display: none;
}

.faq-search-result-container {
  margin: 15px 10px 0px 10px;
  padding: 20px 30px 20px 30px;
  background-color: var(--purple-shades-light);
  border-radius: 15px;
  color: var(--text-dark);
}

.faq-search-result-question,
.faq-search-result-question-accordion {
  margin-bottom: 7px;
  font-size: 26px;
  font-weight: bold;
  color: var(--text-dark);
  @include devices(tablet) {
    font-size: 22px;
  }
}

.faq-search-result-question-accordion {
  padding: 20px 0px 20px 0px;
  margin-bottom: 0px;
}

.faq-search-result-answer,
.faq-search-result-answer-accordion {
  margin-top: 7px;
  background-color: var(--purple-shades-light);
  border-radius: 12px;
  color: var(--text-dark);
  @include devices(tablet) {
    font-size: 16px;
  }
}

.faq-search-result-answer-accordion {
  padding: 0px 0px;
  margin-left: 2px;
  margin-top: -10px;
  padding-bottom: 5px;
}

.faq-ask-question-outer-container {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  @include devices(tablet) {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.faq-ask-question-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.faq-ask-question-stacking {
  display: grid;
}

.faq-page-questions {
  grid-column: 1;
  grid-row: 1;
}

.faq-ask-question-title {
  text-align: center;
  width: 100%;
}

.faq-ask-question-box {
  margin: 20px 0px 0px 0px;
  text-align: center;
}

.faq-no-results {
  width: 100%;
  text-align: center;
}

.faq-loading {
  z-index: -1;
  transition: transform 400ms, opacity 400ms;
  opacity: 0;
  transform: scale(0.5);
  grid-column: 1;
  grid-row: 1;
}

.faq-loading-appear {
  transition: transform 400ms, opacity 400ms;
  opacity: 1;
  transform: scale(1);
}

.faq-loading-disappear {
  transition: transform 1500ms, opacity 900ms;
  opacity: 0;
  transform: scale(10);
}

.faq-page-disappear {
  transform: translateY(-5vh);
  opacity: 0;
  transition: transform 1200ms, opacity 1000ms;
  user-select: none;
  pointer-events: none;
}

.faq-page-appear {
  opacity: 1;
  transition: transform 1200ms, opacity 1000ms;
}
