@import '../../../scssStyles/mixins';

.button {
  margin: 15px 10px;
  background-color: var(--light-purple);
  color: var(--white);
  display: inline-block;
  border-radius: 14px;
  padding: 14px 30px;
  box-shadow: var(--shadow);
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 200ms, background-color 200ms;
  user-select: none;

  &:hover {
    transform: scale(1.02);
    transition: transform 200ms;
  }
  &:active,
  &:focus {
    transform: scale(0.97);
    transition: transform 150ms;
  }

  @include devices(tablet) {
    font-size: 16px;
    padding: 15px 38px;
    margin: 8px 6px;
  }
}

.button-secondary {
  background-color: var(--yellow);
  color: var(--text-dark);
}

.button-disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: var(--button-disabled);
  color: var(--white);
  transition: background-color 200ms;
  &:hover {
    transform: scale(1);
  }
  &:active {
    transform: scale(1);
  }
}
