@import './scssStyles/_mixins.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
  font-style: normal;
}

:root {
  --purple: #6f1e88;
  --light-purple: #a04fb9;
  --purple-shades-dark: #3c0a5a;
  --purple-shades-original: #6f1e88;
  --purple-shades-muted: #b297c7;
  --purple-shades-light: #ecd6ff;
  --purple-shades-light-light: #efdefe;
  --purple-shades-popup: #784786;
  --yellow: #ffe863;
  --yellow-light: #ffe76a;
  --white: #ffffff;
  --on-white: #f3f3f3;
  --black: #000000;
  --gray: #989898;
  --shadow: #959da533 0px 8px 24px; /* box-shadow: var(--shadow); */
  --green-success: #aad0a3;
  --green-success-dark: #56964b;
  --red-error: #dd4343;
  --red-error-light: #ffacac;
  --text-link: #4471d9;
  --text-dark: #20002e;
  --text-light: #f3f3f3;
  --text-muted: #696969;
  --navbar-bg: #ebebeb;
  --navbar-underline: #e2e2e2;
  --page-bg: #efe9f8; /* very light purple */
  --purple-transparent: #7b33a8d6;
  --purple-transparent-more: #7b33a830;
  --transparent: #00000000;

  /* filters for icons -- filter: --var(purple-icon-filter) */
  --purple-icon-filter: invert(19%) sepia(69%) saturate(2461%) hue-rotate(270deg) brightness(82%)
    contrast(101%);
  --grey-icon-filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(189deg) brightness(100%)
    contrast(88%);

  /* misc. */
  --lavender: #ecd6ff;
  --blue-grey-light: #cfc9e5;
  --periwinkle: #9fa8da;

  /* light background colors */
  --purple-bg: #eed8ff;
  --yellow-bg: #ffffe4;
  --dark-purple-bg: #d8c0ff;
  --gray-bg: #d4d4d4;
  --green-bg: #e9ffe9;
  --blue-bg: #d2d9ff;

  /* login page */
  --login-bg: #e8e0eb;

  // color-scheme: only light;

  @media (prefers-color-scheme: dark) {
    --purple: #613480; // #6f1e88;
    --light-purple: #8c60b3; //#a04fb9; //8C60B3
    --purple-shades-dark: #61347f;
    --purple-shades-original: #6f1e88;
    --purple-shades-muted: #b297c7;
    --purple-shades-light: #ecd6ff;
    --purple-shades-popup: #382159;
    --purple-buttonoutline-border: #8c60b3;
    --yellow: #ffcc4a; //#fae259;
    --yellow-light: #ffe76a;
    --white: #ffffff;
    --on-white: #f3f3f3;
    --black: #ffffff; // #000000;
    --gray: #989898;
    --shadow: #959da533 0px 8px 24px; /* box-shadow: var(--shadow); */
    --green-success: #aad0a3;
    --green-success-dark: #56964b;
    --red-error: #dd4343;
    --red-error-light: #ffacac;
    --text-link: #00d1ff;
    --text-dark: #20002e;
    --text-light: #f3f3f3;
    --text-muted: #696969;
    --navbar-bg: #342153; //#ebebeb;
    --navbar-underline: #;
    --page-bg: #382159; // #32383d; /* very light purple */
    --purple-transparent: #521f7482; //#7b33a8d6;
    --purple-transparent-more: #734e8b5c; //#7b33a830;
    --transparent: #00000000;

    /* filters for icons -- filter: --var(purple-icon-filter) */
    --purple-icon-filter: invert(19%) sepia(69%) saturate(2461%) hue-rotate(270deg) brightness(82%)
      contrast(101%);
    --grey-icon-filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(189deg) brightness(100%)
      contrast(88%);

    /* misc. */
    --lavender: #ecd6ff;
    --blue-grey-light: #cfc9e5;
    --periwinkle: #9fa8da;

    /* light background colors */
    --purple-bg: #eed8ff;
    --yellow-bg: #ffffe4;
    --dark-purple-bg: #d8c0ff;
    --gray-bg: #d4d4d4;
    --green-bg: #e9ffe9;
    --blue-bg: #d2d9ff;

    /* login page */
    --login-bg: #e8e0eb;
  }
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Inter-Bold.ttf');
}

html {
  background-color: var(--page-bg);
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter-Bold', sans-serif;
  margin: 0px;
  padding: 0px;
  color: var(--text-dark);
  @media (prefers-color-scheme: dark) {
    color: var(--text-light);
  }
}

p {
  color: var(--text-dark);
  @media (prefers-color-scheme: dark) {
    color: var(--text-light);
  }
}

a {
  text-decoration: none;
  color: var(--text-link);
  transition: text-decoration-color 250ms;
  cursor: pointer;
  background: linear-gradient(to left, var(--text-link), var(--text-link));
  background-size: 100% 2px, 0 2px;
  background-position: 0% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  transition: background-size 400ms;
  background-size: 0% 2px, 100% 2px;
}

.no-link-style {
  background: none !important;
  text-decoration: none !important;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.08);
  @include devices(tablet) {
    transform: unset;
  }
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
  @include devices(tablet) {
    transform: unset;
    transition: opacity 300ms;
  }
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.92);
  transition: opacity 300ms, transform 300ms;
  @include devices(tablet) {
    transform: unset;
    transition: opacity 300ms;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #616161;
}

::-webkit-scrollbar-thumb {
  background-color: #7c7c7c;
  background: #7c7c7c;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #d3d3d3fd;
  border-radius: 3px;
}

.navbar-space-top {
  height: 45px;
  @include devices(tablet) {
    height: 0px;
  }
}

.show-darkmode {
  display: none;

  @media (prefers-color-scheme: dark) {
    display: unset;
  }
}

.hide-darkmode {
  display: unset;

  @media (prefers-color-scheme: dark) {
    display: none;
  }
}
