version: '3.8'

services:
  mongodb:
    image: mongo
    container_name: mongo-dev
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=$MONGODB_USER
      - MONGO_INITDB_ROOT_PASSWORD=$MONGODB_PASSWORD
      - MONGO_INITDB_DATABASE=$MONGODB_DBNAME
    ports:
      - "27017:27017"
    volumes:
      - ./mongo-volume:/data/db
  mongo-express:
    image: mongo-express
    container_name: mongo-express
    depends_on:
      mongodb:
        condition: service_started
      api:
        condition: service_started
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=$MONGODB_USER
      - ME_CONFIG_MONGODB_ADMINPASSWORD=$MONGODB_PASSWORD
      - ME_CONFIG_MONGODB_SERVER=mongo-dev
      - ME_CONFIG_BASICAUTH_USERNAME=$MONGO_WEB_USERNAME
      - ME_CONFIG_BASICAUTH_PASSWORD=$MONGO_WEB_PASSWORD
    ports:
      - "8081:8081"
  redis:
    image: redis
    container_name: redis
    restart: unless-stopped
    ports:
      - "7000:7000"
    environment:
      - REDIS_PORT_NUMBER=$REDIS_PORT
      - REDIS_PASSWORD=$REDIS_PASSWORD
  api:
    build: ./server
    container_name: api
    depends_on:
      - mongodb
    environment:
      - NODE_ENV=$API_NODE_ENV
      - PORT=$API_PORT
      - MONGODB_USER=$MONGODB_USER
      - MONGODB_PASSWORD=$MONGODB_PASSWORD
      - MONGODB_DBNAME=$MONGODB_DBNAME
      - BASIC_AUTH_USER=$BASIC_AUTH_USER
      - BASIC_AUTH_PASS=$BASIC_AUTH_PASS
      - AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
      - STRIPE_WEBHOOK_SECRET=$STRIPE_WEBHOOK_SECRET
      - STRIPE_SECRET_KEY=$STRIPE_SECRET_KEY
      - CLIENT_BASE_URL=$CLIENT_BASE_URL
      - API_BASE_URL=$API_BASE_URL
      - STRIPE_TICKET_PRICE_ID=$STRIPE_TICKET_PRICE_ID
      - STRIPE_EARLY_BIRD_COUPON_ID=$STRIPE_EARLY_BIRD_COUPON_ID
      - JWT_RESET_TOKEN=$JWT_RESET_TOKEN
      - REGISTRATION_DATA_EMAIL_ADDRESSES=$REGISTRATION_DATA_EMAIL_ADDRESSES
    ports:
      - "5001:5001"
    volumes:
      - ./server/src:/app/src
  client:
    build: ./client
    container_name: client
    environment:
      - VITE_API_BASE_URL=$API_BASE_URL
    ports:
      - "3000:3000"
    volumes:
      - ./client/src:/app/src
