@import '../../../scssStyles/mixins';

.schedule-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.schedule-events-desktop {
  margin: 15px 0px 20px 20px;
}

.schedule-events-mobile {
  margin: 15px 5px 20px 5px;
}

.schedule-day-date-desktop {
  text-align: left;
}

.schedule-day-date-mobile {
  text-align: left;
  font-size: 15px;
}

.schedule-date {
  font-size: 15px;
}

.schedule-circle-container-desktop {
  position: relative;
  width: 5%;
}

.schedule-circle-container-mobile {
  position: relative;
  width: 0%;
}

.schedule-circle-inner {
  background-color: white;
  position: absolute;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  left: 50%;
  margin-left: -20px;
  margin-top: 45px;
  margin-bottom: 80px;
}

.schedule-circle-outer {
  opacity: 0.5;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  left: 50%;
  margin-left: -30px;
  margin-top: 35px;
  margin-bottom: 60px;
}

.schedule-circle-line {
  position: absolute;
  left: 50%;
  margin-left: -10px;
}

.schedule-accordion-time-desktop {
  float: right;
  margin-right: 30px;
  color: var(--gray);
}

.schedule-accordion-time-mobile {
  color: var(--gray);
}

.schedule-hide {
  display: none;
}

.schedule-scroll {
  overflow-x: scroll;
  white-space: nowrap;
}
