@import '../../scssStyles/mixins';

.unsubscribe-page {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 700ms, opacity 700ms;
}

.unsubscribe-container {
  background-color: var(--container-bg);
  border-radius: 15px;
  padding: 40px min(150px, 5%);
  margin: 50px;
  box-shadow: var(--shadow);
  width: 95vw;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h1 {
    margin: 20px;
    text-align: center;
    font-size: 40px;
    width: 100%;
  }
}

.unsubscribe-button {
  margin-top: 20px;
}
