@import '../../../scssStyles/mixins';

.radio-buttons {
  form {
    display: flex;
    flex-wrap: wrap;
  }
}

.form-control {
  font-size: 18px;
  line-height: 1;
  display: flex;
  margin: 12px;
  margin-bottom: 3px;
  gap: 10px;
  user-select: none;
}

.form-control + .form-control {
  margin-top: 13px;
}

.form-control:focus-within {
  color: var(--form-control-color);
}

input[type='radio'] {
  color: var(--purple);
  width: 16px;
  height: 16px;
  border: 3px solid var(--purple);
  border-radius: 100%;
  display: grid;
  place-content: center;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  transition: transform 220ms;
}

input[type='radio']:hover {
  transform: scale(1.1);
  transition: transform 220ms;
}

input[type='radio']::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 100%;
  transform: scale(0);
  transition: transform 220ms;
  background-color: var(--purple);
}

input[type='radio']:checked::before {
  transform: scale(1);
}

input[type='radio']:hover:disabled {
  transform: unset;
}

.form-control-disabled input[type='radio']:disabled {
  color: var(--text-muted);
  border: 3px solid var(--text-muted);
  opacity: 0.8;
  cursor: not-allowed;
}

.form-control-disabled {
  color: var(--text-muted);
}

.radio-input-title {
  font-size: 16px;
  padding-left: 5px;
  margin-top: 14px;
}

.radio-input-disabled-container {
  opacity: 0.7;
  color: var(--gray);
}
