@import '../../../scssStyles/mixins';

.form-control {
  font-size: 22px;
  line-height: 1;
  display: flex;
  align-items: flex-start;
  margin: 10px;
  gap: 10px;
  user-select: none;
}

.form-control + .form-control {
  margin-top: 13px;
}

.form-control:focus-within {
  color: var(--form-control-color);
}

input[type='radio'] {
  font: inherit;
  color: var(--purple);
  width: 20px;
  height: 20px;
  border: 3px solid var(--purple);
  border-radius: 100%;
  display: grid;
  place-content: center;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  margin: 2px;
  transition: transform 220ms;
}

input[type='radio']:hover {
  transform: scale(1.1);
  transition: transform 220ms;
}

input[type='radio']::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 100%;
  transform: scale(0);
  transition: transform 220ms;
  background-color: var(--purple);
}

input[type='radio']:checked::before {
  transform: scale(1);
}

input[type='radio']:hover:disabled {
  transform: unset;
}

.form-control-disabled input[type='radio']:disabled {
  color: var(--text-muted);
  border: 3px solid var(--text-muted);
  opacity: 0.8;
  cursor: not-allowed;
}

.form-control-disabled {
  color: var(--text-muted);
}

.radio-input-title {
  font-size: 16px;
  padding-left: 5px;
}
