@import '../scssStyles/mixins';

.landing-page-header {
  position: relative;
  height: 80vh;
  min-height: 500px;
  background-image: linear-gradient(
    to right,
    var(--purple-transparent) 20%,
    var(--purple-transparent-more)
  );
  display: flex;
  align-items: center;
  img {
    height: max(10vh, 100px);
  }
  @include devices(tablet) {
    justify-content: center;
  }
}

.landing-page-header-text {
  padding-left: 5%;
  h3 {
    font-size: max(4vh, 40px);
    color: var(--text-light);
    margin-bottom: min(2vh, 20px);
    margin-top: min(1vh, 10px);
    line-height: 1;
  }
  h2 {
    font-size: max(6vh, 60px);
    color: var(--text-light);
    line-height: 0.7;
    line-height: 1;
  }
  @include devices(tablet) {
    padding-left: 0%;
    padding: 0px 25px;
    h3 {
      font-size: 20px;
      text-align: center;
      line-height: 1;
    }
    h2 {
      font-size: 32px;
      text-align: center;
      line-height: 1;
    }
  }
}
