@import '../../scssStyles/mixins';

.dashboard-dropdown-bg {
  // top: 0;
  width: 100%;
  // height: 100%;

  // width: fit-content;
}

.dashboard-dropdown-bg-display {
  display: unset;
  opacity: 1;
}

.dashboard-dropdown-bg-hide {
  display: none;
  pointer-events: none;
  opacity: 0;
}

.dashboard-dropdown-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  flex: 1;
  // width: max(140px, 10.5%);
  // width: 100%;
  // margin: auto;
  z-index: 5;
  border: 2px solid var(--bg-secondary);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  @include devices(tablet) {
    font-size: smaller;
    width: 26%;
  }
}
.dashboard-dropdown-filler {
  border: none;
  background: transparent;
}
.dashboard-dropdown-container-display {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.dashboard-dropdown-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: var(--navbar-bg);
  color: var(--text-primary);
  width: 100%;
  padding: 25px 10px;
  font-weight: 300;

  cursor: url('../../assets/cursor/pointer.png'), auto !important;

  transition: background-color 400ms, opacity 400ms, font-weight 400ms;

  &:hover,
  &:active {
    background-color: var(--neutral-secondary);
    transition: background-color 400ms, font-weight 400ms;
  }
}

.dashboard-dropdown-item-container-selected {
  pointer-events: none;
  background-color: var(--bg-secondary);
  font-weight: bold;
}

.dashboard-dropdown-item-img {
  height: auto;
  width: 20px;
  margin-right: 20px;
}

.dashboard-dropdown-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  // margin-left: auto;
  // flex: 1;
  margin: 0 1%;
  height: auto;
  min-height: 50px;
  background-color: var(--bg-secondary);
  border-radius: 5px;

  .dashboard-dropdown-title {
    // width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    // border: 2px solid var(--bg-secondary);
    cursor: url('../../assets/cursor/pointer.png'), auto !important;
    // margin: auto;
    padding: 5px;
    // background-color: var(--bg-secondary);

    // @media (max-width: 1000px) {
    //   min-height: 60px;
    // }

    .dashboard-dropdown-icon {
      width: 16%;
      height: auto;
      padding-left: 15px;
    }
    .dashboard-dropdown-text {
      color: var(--text-dynamic);
      font-size: medium;
      // margin: auto auto auto 0;
      font-weight: 900;
      @media (max-width: 1000px) {
        padding: 0px 10px;
        // min-height: 40px;
      }
    }
  }
}

.dashboard-dropdown-title-image {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.dashboard-dropdown-icon {
  @media (max-width: 1000px) {
    display: none;
  }
}

// .dashboard-dropdown-image {
//   padding-bottom: 8px;
//   padding-top: 0px;
// }

// .open {
//   padding-bottom: 0px;
//   padding-top: 8px;
// }
