@import '../../scssStyles/mixins';

.scunt-judges-container {
  display: grid;
  //width: 90vw;
  grid-template-columns: repeat(auto-fit, 450px);
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: 25px 0;
}
