@import '../../scssStyles/mixins';

.popup-background-container {
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.popup-background-show,
.popup-background-show-blur {
  position: absolute;
  z-index: 9;

  width: 100vw;

  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
  pointer-events: all; // allows users to click on bg
  animation: fade-in 400ms forwards;
}
.popup-background-show {
  background: rgba(111, 30, 136, 0.75);
}
.popup-background-show-blur {
  backdrop-filter: blur(8px);
}

.popup-background-hide {
  position: absolute;
  z-index: 9;

  width: 100vw;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  pointer-events: none;
  animation: fade-out 400ms forwards;
  opacity: 0;
}
.popup-background-hide {
  background: rgba(111, 30, 136, 0.75);
}
.popup-background-hide-blur {
  backdrop-filter: blur(8px);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.popup-container-show,
.popup-container-hide {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // top is a prop
  width: fit-content;

  background: var(--purple-shades-muted);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;

  color: var(--white);
  text-align: center;
  z-index: 10;
}

.popup-container-show {
  animation: scale-in 400ms;
}
.popup-container-hide {
  pointer-events: none;
  animation: scale-out 400ms;
  animation: fade-out 400ms;
  opacity: 0;
}

@keyframes scale-in {
  // popup becomes visible
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.13);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.popup-heading {
  padding-top: 14px;
  padding-bottom: 10px;
}
.popup-x-mark {
  align-self: flex-end;
  width: 17px;
  left: 0;
  margin-right: 3px;
  margin-left: 3px;

  pointer-events: all;
  cursor: pointer;

  transition: transform 200ms;

  &:hover {
    transform: rotate(90deg);
    transition: transform 200ms;
  }
  &:active {
    transform: rotate(90deg);
    transition: transform 150ms;
  }
}

.popup-modal-header-container {
  margin: 15px;
}
.popup-modal-heading {
  color: var(--white);
  text-align: center;
  font-size: 30px;
}
