@import '../../scssStyles/mixins';

.login-entire-page {
  height: 150vh;
  width: 100vw;
}

.login-bg {
  height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.login-container {
  width: 50vw;
  z-index: 9;
}

.login-title {
  text-align: center;
  color: var(--purple);
  font-size: 70px;

  padding: 5%;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
}

.login-error-message {
  margin: 4px;
  padding-left: 20px;
  font-size: 13px;

  color: var(--red-error);
}
.no-error-message {
  display: none;
}

.login-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.forgot-message {
  margin: 4px;
  color: var(--light-purple);
  font-weight: 600;
}

@include devices(tablet) {
  .login-entire-page {
    height: 100vh;
    width: 100vw;
  }

  .login-container {
    width: 70vw;
  }

  .login-error-message {
    margin: 4px;
    padding-left: 0;
    font-size: 13px;
    text-align: center;
    color: var(--red-error);
  }

  .login-button-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  .forgot-message {
    margin: 4px;
    color: var(--purple-shades-light);
    font-weight: 600;
  }
}

// BACKGROUND IMAGES

.login-bg-images {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 150vh;
  bottom: 100vh;
  flex-direction: none;
  justify-content: none;
  align-items: none;
}

.ptero {
  position: absolute;
  top: 8vh;
  left: 5vw;
  width: 20vw;
  z-index: 8;
}

.brachio-left {
  position: absolute;
  bottom: 0;
  width: 40vw;
  z-index: 8;
  left: 0;
}

.brachio-right {
  position: absolute;
  bottom: 0;
  z-index: 8;
  width: 50vw;
  right: -2vw;
}

.ground {
  overflow: hidden;
  position: absolute;
  bottom: -20vh;
  width: 100vw;
  z-index: 7;
}

.mountain-back {
  position: absolute;
  bottom: -50vh;
  left: -25vw;
  width: 80vw;
  z-index: -10;
}

.mountain-front-left {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: -10vh;
  height: 100vh;
}

.mountain-front-right {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 140vh;
  z-index: -1;
}

.mountain-mid {
  position: absolute;
  overflow: hidden;
  bottom: -65vh;
  width: 90vw;
  left: 4vw;
  z-index: 0;
}

@include devices(tablet) {
  .login-bg-images {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .ptero {
    top: 25vh;
    left: 10vw;
    width: 20vw;
  }

  .brachio-left {
    bottom: 12vw;
    width: 25vw;
    left: 0;
  }

  .brachio-right {
    bottom: 22vw;
    width: 40vw;
    right: 0;
  }

  .ground {
    bottom: 0;
    width: 100vw;
  }

  .mountain-back {
    bottom: 10vh;
    left: -40vw;
    width: 100vw;
  }

  .mountain-front-left {
    left: 0;
    bottom: -10vh;
    height: 50vh;
  }

  .mountain-front-right {
    bottom: 0;
    right: -5vw;
    height: 80vh;
  }

  .mountain-mid {
    bottom: 0;
    width: 90vw;
    left: 8vw;
  }
}
