@import '../../scssStyles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Jersey+20&family=Jersey+25&display=swap');

.frosh-retreat-page {

  // .info-header {
  //   text-align: center;
  //   margin: 10px 20px;
  //   h1 {
  //     color: var(--white) !important;
  //   }
  //   h2 {
  //     color: var(--white) !important;
  //     text-align: center;
  //   }
  // }
  // p {
  //   color: var(--text-dynamic);
  //   max-width: 1000px;
  //   margin: auto;
  //   margin-bottom: 10px;
  // }
  .frosh-retreat-video {
    width: 95%;
    max-width: 1000px;
    height: 524px;
    @include devices(tablet) {
      height: 50vh;
      min-height: 200px;
    }
  }
}

.title{
  width:100vw;
  position:relative;
}
.title-img{
  width:100%;

  margin-bottom:0px;
  padding-bottom:0px;
}
.gradient{
  height:99%;
  width:70%;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 0, 0, 0.8));

  position:absolute;
  top:0;
  right:0;

}
.title-text{
  // position: absolute;
  // top:20%;
  margin-right:6vw;
  display:block;

  font-family:'Jersey 20';
  color:var(--mikado);
  -webkit-text-stroke-color:var(--jam);
  -webkit-text-stroke-width: 0.3vw;
  font-size:15vw;
  line-height:12vw;
  font-weight:400;

  text-align:right;
}

.title-container{
  width:60%;
  height:75%;

  position:absolute;
  bottom:0;
  right:0;

  // display:flex;
  // align-items:center;
  // justify-content:center;
}

h2{
  color:white;
  font-size:2.5vw;

  text-align:right;
  margin-right:6vw;
}
.subtitle1{
  font-size:3vw;
}

.info{
  margin:5vw;
}
h3 {
  font-family:'Jersey 20';
  font-size:64px;
  font-weight:400;

  text-align:left;

  margin-bottom:1vw;
}
p{
  margin-bottom:5vw;
  
  font-size:25px;
}

.retreat-registration-form {
  text-align: center;
  margin: auto;
  color: var(--text-dynamic);
  .display-field {
    text-align: center;
  }
  .radio-buttons-retreat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 30px;
  }
  .radio-buttons {
    width: fit-content;
    margin: auto;
  }
}

.frosh-retreat-faq-bullet {
  list-style-type: disc !important;
  color: var(--text-dynamic);
  text-decoration: none !important;
}
