@import '../../../scssStyles/mixins';
.sz-wrapper-landing {
  display: grid;
  place-content: center;
  background-color: var(--purple-bg);

  min-height: 100vh;
  font-family: 'Inter-Bold';
  font-size: clamp(1.5rem, 1rem + 18vw, 15rem);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--yellow);
}

.sz-wrapper-landing > div {
  grid-area: 1/1/-1/-1;
}
.sz-landing-top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}
.sz-landing-bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, rgb(81, 0, 128) 53%, var(--text-color) 65%);
  background: linear-gradient(177deg, rgb(81, 0, 128) 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}

.szlanding-title-text {
  font-family: 'Inter';
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sz-landing-instagram-logo {
  height: 10vmin;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.szlanding-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  margin: 0 20px;
  background: #ffe863;
}
