@import '../../../scssStyles/_mixins.scss';

.button-outlined {
  margin: 15px 10px;
  background-color: var(--button-outlined-bg);
  color: var(--button-outlined-font);
  display: inline-block;
  border-radius: 14px;
  padding: 10px 26px;
  box-shadow: var(--shadow);
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 200ms;
  user-select: none;
  border-width: 4px;
  border-color: var(--light-purple);
  border-style: solid;

  &:hover {
    transform: scale(1.02);
    transition: transform 200ms;
  }

  &:active {
    transform: scale(0.97);
    transition: transform 150ms;
  }

  @include devices(tablet) {
    font-size: 16px;
    padding: 10px 30px;
    border-width: 3px;
    margin: 8px 6px;
  }
}

.button-outlined-secondary {
  background-color: var(--button-outlined-bg-secondary);
  border-color: var(--button-outlined-border); //--purple-shades-muted
  color: var(--button-outlined-font);
  font-weight: unset;
  transition: transform 200ms, background-color 200ms, border-color 200ms;

  &:hover {
    transition: transform 200ms, background-color 200ms, border-color 200ms;
    background-color: var(--purple-shades-light);
    border-color: var(--light-purple);
  }
}

.button-outlined-disabled {
  opacity: 0.6;
  cursor: unset;
  background-color: var(--on-white);
  border-color: var(--button-outlined-disabled-border);
  font-weight: unset;

  &:hover {
    transform: scale(1);
  }
  &:active {
    transform: scale(1);
  }
}
