@import '../../../scssStyles/_mixins.scss';

:root {
  //--top-left-corner-border: url('../../../../src/assets/buttons/top-left-corner-border.svg');
  //--bottom-right-corner-border: url('../../../../src/assets/buttons/bottom-right-corner-border.svg');
  --pixel-border: url('../../../assets/buttons/button-pixel-border-light.png');
  --pixel-border-pressed: url('../../../assets/buttons/button-pixel-border-light-pressed.png');
}

.dark-mode {
  //--top-left-corner-border: url('../../../../src/assets/buttons/top-left-corner-border-dark.svg');
  //--bottom-right-corner-border: url('../../../../src/assets/buttons/bottom-right-corner-border-dark.svg');
  --pixel-border: url('../../../assets/buttons/button-pixel-border-dark.png');
  --pixel-border-pressed: url('../../../assets/buttons/button-pixel-border-dark-pressed.png');
}

.button-outlined {
  margin: 15px 10px;

  border-image-source: var(--schedule-dates-pixel-border);
  background-color: var(--monster);
  color: var(--lavender);
  box-shadow: inset -6px -6px var(--button-pressed-shadow);
  border-radius: 18px;
  text-align: center;
  cursor: url('../../../../assets/cursor/cursor.png'), auto; // Apply custom cursor here
  user-select: none;
  border-image-slice: 30;
  border-image-width: 30px;
  border-image-outset: 1px;
  border-image-repeat: repeat;
  position: relative;
  min-width: 200px;
  min-height: 100px;

  padding: 10px 26px;

  h1 {
    font-size: 35px;
    font-family: 'Jersey 20', sans-serif;

    @include devices(tablet) {
      font-size: 25px;
    }
  }
  h2 {
    font-size: 18px;

    @include devices(tablet) {
      font-size: 16px;
    }
  }

  @include devices(tablet) {
    min-width: 150px;
    min-height: 80px;
    padding: 5px 5px;
    margin: 4px 3px;
    background-color: black;
  }
}

.button-outlined-secondary {
  // background-color: var(--button-outlined-bg-secondary);
  // color: var(--button-outlined-font);
  // font-weight: unset;
  // box-shadow: 3px 3px 3px #00000038;
  box-shadow: inset -6px -6px #3d0f58;
  color: var(--mikado);
  background-color: var(--schedule-container);
  // border-image-source: var(--pixel-border);
  border-radius: 18px;
  border-image-source: var(--schedule-dates-pixel-border-selected);
  border-image-slice: 12;
  border-image-width: 12px;
  border-image-outset: 1px;
  border-image-repeat: repeat;

  &:hover {
    border-color: var(--light-purple);
    transform: scale(1.02);
    cursor: url('../../../assets/cursor/pointer.png'), auto;
  }

  &:active {
    transform: translateY(2px);
    //box-shadow: inset 4px 4px #00000038, inset -4px -4px #ffffff44;
    // background-color: var(--button-active-bg);
    // border-image-source: var(--pixel-border-pressed);
  }
}

.button-outlined-disabled {
  opacity: 0.6;
  cursor: unset;
  background-color: var(--on-white);
  border-color: var(--button-outlined-disabled-border);
  font-weight: unset;

  &:hover {
    transform: scale(1);
  }

  &:active {
    transform: scale(1);
  }
}
