@import '../../../scssStyles/_mixins.scss';

:root {
  //--top-left-corner-border: url('../../../../src/assets/buttons/top-left-corner-border.svg');
  //--bottom-right-corner-border: url('../../../../src/assets/buttons/bottom-right-corner-border.svg');
  --pixel-border: url('../../../assets/buttons/button-pixel-border-light.png');
  --pixel-border-pressed: url('../../../assets/buttons/button-pixel-border-light-pressed.png');
}

.dark-mode {
  //--top-left-corner-border: url('../../../../src/assets/buttons/top-left-corner-border-dark.svg');
  //--bottom-right-corner-border: url('../../../../src/assets/buttons/bottom-right-corner-border-dark.svg');
  --pixel-border: url('../../../assets/buttons/button-pixel-border-dark.png');
  --pixel-border-pressed: url('../../../assets/buttons/button-pixel-border-dark-pressed.png');
}

.button-outlined {
  margin: 15px 10px;
  background-color: var(--button-outlined-bg);
  color: var(--button-outlined-font);
  display: inline-block;
  border-radius: 11.5px;
  padding: 10px 26px;
  box-shadow: var(--shadow);
  text-align: center;
  font-weight: 600;
  cursor: url('../../../../assets/cursor/cursor.png'), auto; // Apply custom cursor here
  user-select: none;
  border-image-source: var(--pixel-border-pressed);
  border-image-slice: 30;
  border-image-width: 30px;
  border-image-outset: 1px;
  border-image-repeat: repeat;
  //box-shadow: inset 4px 4px #00000028, inset -4px -4px #ffffff25;
  position: relative;

  //BUTTON BORDERS
  /* removed borders on buttons so there is less cramping on mobile view
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    z-index: 0;
  }

  &::before {
    top: -10px;
    left: -10px;
    background-image: var(--top-left-corner-border);
  }

  &::after {
    bottom: -45px;
    right: -15px;
    background-image: var(--bottom-right-corner-border);
  }
  
  //BUTTON BORDERS END
  */

  @include devices(tablet) {
    font-size: 16px;
    padding: 10px 30px;
    border-width: 3px;
    margin: 8px 6px;
  }
}

.button-outlined-secondary {
  background-color: var(--button-outlined-bg-secondary);
  color: var(--button-outlined-font);
  font-weight: unset;
  box-shadow: 3px 3px 3px #00000038;
  border-image-source: var(--pixel-border);

  &:hover {
    border-color: var(--light-purple);
    transform: scale(1.02);
    cursor: url('../../../assets/cursor/pointer.png'), auto;
  }

  &:active {
    transform: translateY(2px);
    //box-shadow: inset 4px 4px #00000038, inset -4px -4px #ffffff44;
    background-color: var(--button-active-bg);
    border-image-source: var(--pixel-border-pressed);
  }
}

.button-outlined-disabled {
  opacity: 0.6;
  cursor: unset;
  background-color: var(--on-white);
  border-color: var(--button-outlined-disabled-border);
  font-weight: unset;

  &:hover {
    transform: scale(1);
  }

  &:active {
    transform: scale(1);
  }
}
