@import '../../../scssStyles/mixins';

.section-title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before &:after {
    content: '';
    display: block;
    width: 100%;
    height: calc(3px + 0.4vw);
    background-color: #ffc112;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #6f1e882b;
  }

  &:before {
    margin-left: 4%;
  }

  &:after {
    margin-right: 4%;
  }

  @include devices(tablet) {
    padding-top: 30px;
    padding-bottom: 30px;

    &:before &:after {
      width: 0;
    }

    &:before {
      margin-left: -95%;
    }

    &:after {
      margin-right: -95%;
    }
  }
}
