@mixin devices($breakpoint) {
  @if $breakpoint == huge {
    @media only screen and (min-width: 1500px) {
      @content;
    }
  }

  @if $breakpoint == ipad {
    @media only screen and (max-width: 1100px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint == mobile {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
}

.mobile-only {
  display: none;
  @include devices(tablet) {
    display: unset;
  }
}

.desktop-only {
  display: unset;
  @include devices(tablet) {
    display: none;
  }
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/proximanova_light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/proximanova_regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/proximanova_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/proximanova_boldit.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/proximanova_extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/proximanova_black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/proximanova_blackit.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Genty Demo';
  src: url('./assets/fonts/GentyDemo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gliker';
  src: url('./assets/fonts/Gliker.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
