// TODO: Select appropriate mobile & tablet breakpoints

@mixin devices($breakpoint) {
  @if $breakpoint == tablet {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint == mobile {
    @media only screen and (max-width: 599px) {
      @content;
    }
  }
}
