@mixin devices($breakpoint) {
  @if $breakpoint == tablet {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint == mobile {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
}

.mobile-only {
  display: none;
  @include devices(tablet) {
    display: unset;
  }
}

.desktop-only {
  display: unset;
  @include devices(tablet) {
    display: none;
  }
}
