@import '../../scssStyles/mixins';

.home-page-header {
  position: relative;
  height: 100vh;
  min-height: 500px;
  background-image: linear-gradient(
    to right,
    var(--purple-transparent) 20%,
    var(--purple-transparent-more)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include devices(tablet) {
    justify-content: center;
  }
}

.FroshHardHatWhite-logo {
  text-align: center;
  object-fit: fill;
  height: 210px;
  @include devices(tablet) {
    text-align: center;
    height: 120px;
  }
}

.home-page-header-text {
  padding: 3%;
  h1 {
    text-align: center;
    font-size: max(14vh, 140px);
    color: var(--text-light);
    line-height: 1;
  }
  h2 {
    text-align: center;
    font-size: max(6vh, 60px);
    color: var(--text-light);
    line-height: 0.7;
    line-height: 1;
  }
  p {
    text-align: center;
    font-size: max(3vh, 14px);
    margin-bottom: min(2vh, 20px);
    margin-top: min(3vh, 10px);
    color: var(--text-light);
    line-height: 1.2;
  }
  @include devices(tablet) {
    padding: 20px 25px;
    h1 {
      font-size: 100px;
      text-align: center;
    }
    h2 {
      font-size: 32px;
      text-align: center;
      line-height: 1;
    }
    p {
      font-size: 15px;
      padding: 0px 20px;
      text-align: center;
    }
  }
}

.home-page-header-register-button {
  margin-top: 15px;
  display: flex;
  display: grid;
  margin: auto;
  @include devices(tablet) {
    text-align: center;
    width: unset;
    height: unset;
    font-size: unset;
  }
  width: max(15vh, 150px);
  height: max(5vh, 50px);
  font-size: max(1.8vh, 18px);
}

.home-page-top-wave-image {
  position: absolute;
  bottom: 0px;
  filter: drop-shadow(-10px -10px 8px #23232342);
}

.home-page-landing-image-container {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  min-height: 500px;
}
.home-page-landing-image {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  min-height: 500px;
}

.wave-image {
  width: 100vw;
  height: min(10vh, 80px);
  object-fit: fill;
  @include devices(tablet) {
    height: min(10vh, 40px);
  }
}

.home-page-timeline {
  background-color: var(--purple);
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--text-muted);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    background: var(--gray);
    border-radius: 3px;
  }
  ::-webkit-scrollbar-track {
    background: var(--purple);
    border-radius: 3px;
  }
  @include devices(tablet) {
    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
  }
}

.home-page-timeline-popup-container {
  color: var(--white);
  h1 {
    margin-bottom: 10px;
    font-size: 34px;
  }
  p {
    font-size: 18px;
  }
  .home-page-timeline-popup-button {
    margin-top: 25px;
  }
  @include devices(tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.home-page-schedule {
  background-color: var(--purple);
  padding-bottom: 30px;
  .home-page-schedule-warning {
    font-size: 18px;
    color: var(--white);
    padding-left: min(40px, 3.5%);
    margin-top: -25px;
    margin-bottom: 15px;
    padding-right: min(40px, 3.5%);
    @include devices(tablet) {
      margin-top: -10px;
      font-size: 15px;
    }
  }
}

.home-page-section-header {
  font-size: 45px;
  color: var(--white);
  padding-left: min(40px, 3.5%);
  padding-top: 35px;
  margin-bottom: 24px;
  @include devices(tablet) {
    padding-top: 30px;
    margin-bottom: 10px;
    font-size: 35px;
  }
}

.home-page-bottom-wave-image {
  filter: drop-shadow(-10px 10px 8px #23232342);
}

.home-page-sponsors {
  color: var(--black);

  text-align: center;
  h2 {
    font-size: 40px;
    margin-bottom: 20px;
    @include devices(tablet) {
      padding-top: 20px;
    }
    text-align: center;
  }
  h3 {
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
  }
  h4 {
    font-size: 25px;
    text-align: center;
  }
  a {
    user-select: all;
    text-align: center;
    font-size: 18px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .please-sponsor {
    color: (--text-dark);
    padding-top: 20px;
    background-color: var(--purple-shades-light);
    padding-bottom: 20px;
    margin-bottom: 20px;
    transition: transform 500ms;
    transform: scale(1);
  }
  .please-sponsor:hover {
    transition: transform 500ms;
    transform: scale(1.05);
  }
}

.all-sponsors-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sponsor-container {
  background-color: var(--sponsor-background);
  width: min(50%, 350px);
  height: 200px;
  transition: transform 500ms;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 10px;
  img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(5px 5px 10px #23232342);
    object-fit: contain;
  }
  &:hover {
    transform: scale(1.05);
    transition: transform 500ms;
  }
  @include devices(tablet) {
    width: min(90%, 350px);
  }
  p {
    opacity: 0;
    transition: opacity 500ms, transform 500ms;
    background-color: var(--sponsor-container);
    padding: 10px 20px;
    display: inline-block;
    border-radius: 8px;
  }
  &:hover p {
    transform: translateY(calc(-100% + -10px));
    opacity: 1;
  }
}
