@import '../../scssStyles/mixins';

.scunt-countdown {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  h1 {
    color: var(--white);
    font-size: 50px;
    font-size: 70px;
    @include devices(tablet) {
      font-size: 30px;
    }
  }
  h3 {
    color: var(--white);
  }
  .scunt-countdown-number {
    margin: 0px 5px;
    margin-top: 15px;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: var(--light-purple);
    min-width: 130px;
    @include devices(tablet) {
      min-width: 80px;
      h3 {
        font-size: 15px;
      }
    }
  }
}
.scunt-countdown-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 0px;
  text-align: center;
  color: var(--text-dark);
  @media (prefers-color-scheme: dark) {
    color: var(--text-light);
  }
  h2 {
    margin-top: 10px;
    font-size: 20px;
  }
}

.about-scunt-container {
  background-color: var(--purple);
  padding-bottom: 15px;
  p {
    padding-left: min(40px, 3.5%);
    font-size: 18px;
    color: var(--white);
  }
  h2 {
    font-size: 45px;
    color: var(--white);
    padding-left: min(40px, 3.5%);
    padding-top: 35px;
    margin-bottom: 5px;
    @include devices(tablet) {
      padding-top: 30px;
      margin-bottom: 4px;
      font-size: 35px;
    }
  }
  h3 {
    font-size: 28px;
    color: var(--white);
    padding-left: min(40px, 3.5%);
    padding-top: 5px;
    margin-bottom: 5px;
    @include devices(tablet) {
      margin-bottom: 6px;
      font-size: 22px;
    }
  }
}

.scunt-links-container {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  flex-wrap: wrap;
}
