@import '../../../scssStyles/mixins';

.sz-wrapper-landing {
  display: grid;
  place-content: center;
  background-color: var(--purple);
  min-height: 100vh;
  font-family: 'Inter';
  font-weight: 700;
  text-transform: uppercase;
  color: var(--yellow);
  @include devices(tablet) {
    text-align: center;
  }
}

.sz-landing-text {
  font-size: 20vh;
  text-shadow: 0px 0px 0 rgb(250, 188, 2), 1px 1px 0 rgb(245, 183, 0), 2px 2px 0 rgb(240, 178, 0),
    3px 3px 0 rgb(235, 173, 0), 4px 4px 0 rgb(230, 168, 0), 5px 5px 0 rgb(225, 163, 0),
    6px 6px 0 rgb(220, 158, 0), 7px 7px 0 rgb(215, 153, 0), 8px 8px 0 rgb(210, 148, 0),
    9px 9px 0 rgb(205, 143, 0), 10px 10px 0 rgb(200, 138, 0), 11px 11px 10px rgba(0, 0, 0, 0.6),
    11px 11px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.szlanding-small-text {
  font-family: 'Inter';
  text-align: center;
  font-size: 5vh;
  margin-bottom: 5%;
}

.szlanding-logo-container {
  text-align: center;
  justify-content: center;
}
.sz-landing-instagram-logo {
  height: 10vmin;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.szlanding-bubble {
  position: relative;
  background: var(--light-purple);
  line-height: 80px;
  text-align: center;
  border-radius: 10px;
  padding: 0px;
  font-size: 30px;
  text-shadow: var(--purple-shades-dark) 3px 3px 1px;
}
.szlanding-bubble:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: var(--light-purple) transparent;
  border-width: 10px 10px 0;
  bottom: -10px;
  left: 50%;
  margin-left: -20px;
}
