@import '../../scssStyles/mixins';

// .class {
//   @include devices(tablet) {}
// }

.leadur-scope-request-page {
  max-width: 900px;
  width: 100%;
  padding: min(50px, 5%) min(50px, 5%);
  h1 {
    margin-bottom: 15px;
  }
  h2 {
    margin-bottom: 5px;
  }
}
