@import '../../scssStyles/mixins';

.countdown-timer-container {
  position: absolute;
  top: 30%;
  left: 38%;
  transform: translateX(-10%) rotate(12deg);
  background-color: var(--mikado);
  border-radius: 50%;
  padding: 1.8rem 4rem;
  z-index: 5;
  width: fit-content;
  font-family: 'Proxima Nova';
  font-weight: 800;

  @include devices(tablet) {
    position: relative;
    top: unset;
    left: unset;
    transform: none;
    padding: 1rem 2rem;
    margin: 20px auto;
  }
}

.countdown-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  transform: rotate(-15deg);

  @include devices(mobile) {
    flex-direction: column;
  }
}

.countdown-seg {
  padding: 2px 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.countdown-label {
  font-size: clamp(15px, 1.2vw, 30px);
  margin-bottom: 0.3rem;
  color: var(--jam);
  font-weight: 1000;
  font-family: 'Proxima Nova', sans-serif;
  text-transform: lowercase;
  letter-spacing: 0.05em;
  -webkit-text-stroke: 0.75px #f5c842;
}

.countdown-number {
  font-size: clamp(40px, 6vw, 88px);
  display: flex;
  gap: 0.2em;
}

.digit {
  background-color: var(--jam);
  color: var(--white);
  border-radius: 8px;
  width: 1.2em;
  height: 1.6em;
  font-size: clamp(40px, 6vw, 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #f5c842;
}

.divider {
  font-size: clamp(20px, 2.5vw, 40px);
  padding-top: 0.5em;
  margin: 0 0.2rem;
  color: var(--jam);

  @include devices(mobile) {
    display: none;
  }
}
