@import '../../scssStyles/mixins';

.countdown-timer-container {
  position: absolute;
  top: 18%;
  right: 2%;
  transform: rotate(10deg);
  background-color: var(--mikado);
  border-radius: 50%;
  padding: 1.2rem 3rem;
  z-index: 5;
  width: fit-content;
  font-family: 'Proxima Nova';
  font-weight: 800;

  @include devices(tablet) {
    position: relative;
    top: unset;
    right: unset;
    transform: none;
    margin: 20px auto;
    max-width: 90%;
  }
}

.countdown-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  transform: rotate(-15deg);

  @include devices(mobile) {
    flex-direction: column;
  }
}

.countdown-seg {
  padding: 2px 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.countdown-label {
  font-size: clamp(9px, 1vw, 13px);
  margin-bottom: 0.3rem;
  color: var(--jam);
  font-weight: 700;
}

.countdown-number {
  font-size: clamp(24px, 3vw, 46px);
  display: flex;
  justify-content: space-between;
  gap: 0.2em;
}

.digit {
  background-color: var(--jam);
  color: var(--white);
  border-radius: 8px;
  width: 1.2em;
  height: 1.6em;
  padding-top: 0.3em;
  font-size: clamp(24px, 3vw, 46px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  font-size: clamp(20px, 2.5vw, 40px);
  padding-top: 0.6em;
  margin: 0 0.2rem;
  color: var(--jam);

  @include devices(mobile) {
    display: none;
  }
}
