@import '../../../../scssStyles/mixins';

.accordion {
  padding: 0px 20px 0px 20px;
  background-color: var(--purple-shades-light);
  border-radius: 12px;

  color: var(--text-dark);
}

.accordHeader {
  display: flex;
  align-items: center;
}

.accordContent {
  color: var(--text-dark);
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.accordText {
  padding: 10px 0px 10px 0px;
  color: var(--text-dark);
}

.accordIcon {
  transition: transform 0.2s ease;
}

.rotate {
  transform: rotate(180deg);
}
