@import '../../scssStyles/_mixins.scss';

.container {
  position: absolute;
  bottom: 0;
  background-color: var(--purple);
  box-sizing: content-box;

  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  font-size: 18px;
  font-weight: bold;
  color: var(--white);
}

a {
  align-items: center;
  justify-content: center;
}

.links {
  font-size: 14px;
  color: var(--purple-shades-muted);

  &:hover,
  &:active {
    color: var(--white);
    transition: color 200ms;
  }
}

.sitemap {
  flex-direction: column;
  padding: 15px;
}
.sitemap-text {
  margin-bottom: 4px;
}

.socials {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  //align-items: center;
}

.icons {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.svg-icons {
  align-self: center;
  width: 30px;
  height: 30px;
  margin-right: 8px;

  filter: invert(100%) sepia(96%) saturate(15%) hue-rotate(212deg) brightness(104%) contrast(104%);

  &:hover {
    transform: scale(1.02);
    transition: transform 200ms;
  }
  &:active {
    transform: scale(0.97);
    transition: transform 150ms;
  }
}

.message {
  align-self: flex-end;
  margin-bottom: 5px;
}

@include devices(mobile) {
  .container {
    justify-content: center;
    text-align: center;
  }

  .sitemap {
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: auto;
    padding-right: auto;
  }

  .socials {
    flex-direction: column;
  }
  .icons {
    justify-content: center;
  }
  .message {
    align-self: center;
    font-size: 12px;
    font-weight: 400;
  }
}
