@import '../../scssStyles/_mixins.scss';

.footer-container {
  background-color: var(--purple);
  box-sizing: border-box;

  padding: 0% 4% 2% 4%;

  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  font-size: 18px;
  font-weight: bold;
  color: var(--white);
  z-index: 10;
  @include devices(tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.footer-container a {
  text-decoration: underline;
  align-items: center;
  justify-content: center;
  background: none;
}

ul {
  text-decoration: underline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links {
  font-size: 14px;
  color: var(--purple-shades-muted);
  transition: color 200ms;

  &:hover,
  &:active {
    color: var(--white);
    transition: color 200ms;
  }
}

.sitemap {
  flex-direction: column;
  padding-bottom: 15px;
  padding-top: 15px;
}
.sitemap-text {
  margin-bottom: 4px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.svg-icons {
  align-self: center;
  width: 30px;
  height: 30px;
  margin-right: 8px;

  filter: invert(1);

  transition: transform 200ms;
  &:hover {
    transform: scale(1.1);
    transition: transform 200ms;
  }
  &:active {
    transform: scale(0.97);
    transition: transform 150ms;
  }
}

.footer-message {
  align-self: flex-end;
  margin-bottom: 5px;
}

.footer-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1.5%;
  @include devices(tablet) {
    align-items: center;
    justify-content: center;
  }
}
.footer-bug {
  margin-left: 10px;
  margin-right: -5px;
  width: 30px;
}

@keyframes bug-wiggle {
  0% {
    transform: rotate(-5deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(0);
  }
  45% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

.footer-bug-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  align-items: flex-end;
  justify-content: flex-end;

  padding: 5px;
  margin: 0px 0px 10px 0px;

  &:hover,
  &:active {
    .footer-bug {
      animation: bug-wiggle 300ms infinite;
    }

    .footer-bug-message {
      color: var(--white);
      transition: color 200ms;
    }
  }
}

.footer-bug-message {
  font-size: 14px;
  color: var(--purple-shades-muted);
  text-align: right;
  transition: color 200ms;
  margin-bottom: -3px;
  @include devices(tablet) {
    text-align: center;
  }
}

.footer-bug-message-underline {
  text-decoration: underline;
}

@include devices(mobile) {
  .footer-container {
    width: 100%;
    background-color: var(--purple);
    justify-content: center;
    text-align: center;
  }

  .sitemap {
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 0px;
  }

  .socials {
    display: flex;
    flex-direction: column;
  }
  .icons {
    justify-content: center;
    margin-bottom: 8px;
    align-self: center;
  }
  .footer-message {
    align-self: center;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 55px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .footer-bug-message {
    color: var(--white);
  }

  .svg-icon {
    margin-left: 4px;
    margin-right: 4px;
  }
}

.wave-image-footer {
  transform: translateY(1px);
  display: unset;
  width: 100%;
  margin-bottom: -5px;
  filter: drop-shadow(-10px -10px 8px #23232342);
}
