@import '../../scssStyles/_mixins.scss';

.footer-container {
  background-color: var(--jam);
  box-sizing: border-box;

  padding: 3% 5% 0% 5%;

  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  font-size: 18px;
  font-weight: bold;
  color: var(--white);
  z-index: 10;
  @include devices(tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.footer-container a {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background: none;
}

ul {
  text-decoration: underline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sitemap-links {
  text-decoration: none;
}

.links {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: var(--white);
  transition: color 200ms;

  &:hover,
  &:active {
    color: var(--pale-gold);
    transition: color 200ms;
  }
}

.sitemap {
  flex-direction: column;
  padding-bottom: 15px;
  padding-top: 15px;
}
.sitemap-text {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--mikado);
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-center;
  margin-top: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-self: flex-center;
  width: 200px;
  gap: 10px;
  justify-content: center;
}

.svg-icons {
  align-self: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;

  transition: transform 200ms;
  &:hover {
    transform: scale(1.1);
    transition: transform 200ms;
    cursor: url('../../assets/cursor/pointer.png'), auto !important;
  }
  &:active {
    transform: scale(0.97);
    transition: transform 150ms;
  }
}

.footer-message {
  align-self: flex-end;
  margin-bottom: 5px;
}

.tech-team {
  margin: auto;
  text-align: center;
  color: white;
  background-color: var(--jam);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 50px;
  padding-top: 20px;
}

.footer-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1.5%;
  @include devices(tablet) {
    align-items: center;
    justify-content: center;
  }
}
.footer-bug {
  margin-left: 10px;
  margin-right: -5px;
  width: 30px;
}

@keyframes bug-wiggle {
  0% {
    transform: rotate(-5deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(0);
  }
  45% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

.footer-bug-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  align-items: flex-end;
  justify-content: flex-end;

  padding: 5px;
  margin: 0px 0px 10px 0px;

  &:hover,
  &:active {
    .footer-bug {
      animation: bug-wiggle 300ms infinite;
    }

    .footer-bug-message {
      color: var(--white);
      transition: color 200ms;
    }
  }
}

.footer-bug-message {
  font-size: 12px;
  color: var(--white);
  font-weight: 400;
  text-align: right;
  transition: color 200ms;
  margin-bottom: -3px;
  @include devices(tablet) {
    text-align: center;
  }
}

// .footer-bug-message-underline {
//   text-decoration: underline;
//   cursor: url('../../assets/cursor/pointer.png'), auto !important;

//   &:hover {
//     color: var(--text-link);
//   }
// }

@include devices(mobile) {
  .footer-container {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .sitemap {
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sitemap-text {
    padding-top: 35px;
    padding-bottom: 0px;
  }

  .socials {
    display: flex;
    flex-direction: column;
  }
  .icons {
    justify-content: center;
    margin-bottom: 40px;
    align-self: center;
  }
  .footer-message {
    align-self: center;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 55px;
    margin-top: 0px;
    padding-top: 0px;
  }

  .footer-bug-message {
    color: var(--white);
  }

  .svg-icon {
    margin-left: 4px;
    margin-right: 4px;
  }
}

.wave-image-footer {
  transform: translateY(1px);
  display: unset;
  width: 100%;
  margin-bottom: -6px;
  filter: drop-shadow(0px -10px 8px #23232342);
}
