@import '../../scssStyles/mixins';

.error404-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  user-select: none;
  pointer-events: none;
}

.error404-bg {
  position: absolute;
  bottom: -50vh;
  left: -25vw;
  width: 80vw;
  // left: 0;
  // height: auto;
  // width: 100vw;
  // background-image: url(/src/assets/404/bg.png);
  // background-size: cover;
}

// .error404-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   width: 100vw;
//   height: 100vh;
//   text-align: center;
//   h1 {
//     color: var(--white);
//     font-size: 100px;
//     text-shadow: 10px 10px 10px #6c2525;
//     @include devices(tablet) {
//       font-size: 50px;
//     }
//   }
//   h2 {
//     color: var(--white);
//     font-size: 60px;
//     text-shadow: 10px 10px 10px #6c2525;
//     @include devices(tablet) {
//       font-size: 30px;
//     }
//   }
// }

// .error404-sky {
//   position: absolute;
//   left: 0;
//   top: 0;
//   height: 30vh;
//   width: 100vw;
//   background-color: rgb(97, 97, 162);
//   z-index: -1;
// }

// .error404-grass {
//   position: absolute;
//   left: 0;
//   top: 25vh;
//   height: 10vh;
//   width: 100vw;
//   background-repeat: repeat-x;
//   background-size: 50vh 5vh;
//   animation: grass-sway infinite;
//   animation-duration: 4110ms;
//   animation-timing-function: linear;
// }

// @keyframes grass-sway {
//   0% {
//     transform: skewX(-10deg);
//   }
//   33% {
//     transform: skewX(10deg);
//   }
//   66% {
//     transform: skewX(0deg);
//   }
//   100% {
//     transform: skewX(-10deg);
//   }
// }

// .error404-bg-image {
//   position: absolute;
//   left: 0;
//   top: 30vh;
//   background-color: #7b3f3f;
//   z-index: -1;
//   width: 100vw;
//   height: 70vh;
//   object-fit: cover;
// }

// .error404-meteor-image {
//   position: absolute;
//   top: 5vh;
//   right: 10vw;
//   height: 20vh;
//   animation: meteor-sway infinite;
//   animation-duration: 5000ms;
// }

// @keyframes meteor-sway {
//   0% {
//     transform: translateY(1vh) translateX(-1vw);
//   }
//   30% {
//     transform: translateY(0px) translateX(0vw);
//   }
//   100% {
//     transform: translateY(1vh) translateX(-1vw);
//   }
// }
