@import '../../scssStyles/mixins';

.error404-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  user-select: none;
  pointer-events: none;
}

.error404-flex {
  position: absolute;
  display: flex;
  justify-content: center;
  user-select: none;
  pointer-events: none;
  width: 100%;
}

.error404-bg {
  position: absolute;
  bottom: -50vh;
  left: -25vw;
  width: 80vw;
}

.error404-tree {
  position: absolute;
  height: 100%;
  right: -50px;

  @include devices(tablet) {
    right: -80vw;
  }
}

.error404-msg {
  width: 285px;
  height: auto;
  margin-top: 140px;
  animation: move-up-down ease-in-out infinite;
  animation-duration: 15s;

  @include devices(tablet) {
    width: 45vw;
    margin-top: 15vh;
  }
}

.error404-sign {
  position: absolute;
  bottom: -64px;
  left: 25vw;
  width: 250px;
  height: auto;

  @include devices(tablet) {
    width: 180px;
    left: 10vw;
    bottom: 0;
  }
}

.error404-cat {
  height: 90vh;
  transform-origin: top center;
  animation: swing-cat 15s ease-in-out infinite;

  @include devices(tablet) {
    margin-top: 12px;
    height: 70vh;
  }
}

@keyframes swing-cat {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform-origin: top center;
    transform: rotate(7deg);
  }
  70% {
    transform-origin: top center;
    transform: rotate(-7deg);
  }
  100% {
    transform-origin: top center;
    transform: rotate(0deg);
  }
}

.error404-four {
  height: 40vh;
  margin: 270px 40px 0 40px;
  animation: move-up-down ease-in-out infinite;
  animation-duration: 15s;

  @include devices(tablet) {
    // margin-top: 250px;
    margin-top: 30vh;
    height: 20vh;
  }
}

.error404-right {
  margin-right: -267px;

  @include devices(tablet) {
    margin-right: -190px;
  }
}

.error404-left {
  margin-right: 431px;

  @include devices(tablet) {
    margin-right: 250px;
  }
}

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
