@import '../../scssStyles/mixins';

.profile-dropdown-bg {
  position: fixed;
  z-index: 90;
  width: 100%;
  height: 100%;
  transition: opacity 300ms;
  backdrop-filter: blur(4px);
}

.profile-dropdown-bg-display {
  opacity: 1;
}

.profile-dropdown-bg-hide {
  pointer-events: none;
  opacity: 0;
}

.profile-dropdown-container {
  position: fixed;
  top: 50px;
  right: 0;

  display: flex;
  flex-direction: column;

  margin-right: 15px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 300ms, transform 300ms;

  @include devices(tablet) {
    top: auto;
    bottom: 50px;
    margin-right: 10px;
    transform: translateY(30px);
  }
}

.profile-dropdown-container-display {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms, transform 300ms;
}

.profile-dropdown-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 5px 18px;

  background-color: var(--navbar-bg);
  color: var(--black);
  width: 230px;
  height: 40px;

  cursor: pointer;

  transition: background-color 400ms, opacity 400ms, font-weight 400ms;

  &:hover,
  &:active {
    background-color: var(--purple-shades-muted);
    transition: background-color 400ms, font-weight 400ms;
  }
}

.profile-dropdown-item-container-selected {
  pointer-events: none;
  background-color: var(--purple-shades-muted);
  font-weight: bold;
}

.profile-dropdown-item-img {
  height: auto;
  width: 20px;
  margin-right: 20px;
}
