@import '../../scssStyles/mixins.scss';

.Tabs-desktop {
  display: unset;
  @include devices(tablet) {
    display: none;
  }
}
.Tabs-mobile {
  display: none;
  @include devices(tablet) {
    display: unset;
  }
}

.tab-main {
  width: 100%;
  background: rgb(240, 240, 240);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.icon_container {
  width: 15px;
  height: 15px;
}
.tab-container {
  width: 75%;
  padding-top: 5%;
  height: 100%;
}

.tab-content {
  background-color: var(--purple);
  width: 100%;
  height: 75%;
  position: relative;
}

.relative {
  position: relative;
}

.footer {
  position: absolute;
  bottom: 60px;
  width: 100%;
}

/* ------- BUTTONS ------- */
.arrow-btn {
  background-color: var(--yellow);
  color: black;
}

.nav-btn {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-bottom: 0;
}

.btn-left {
  position: absolute;
  left: 15px;
}

.btn-right {
  position: absolute;
  right: 15px;
}

/* ------- LINKS ------- */
.tabs-link {
  width: 100%;
  text-decoration: none;
}

.nav-link {
  color: white;
}

.arrow-link {
  color: black;
}

.active_link {
  background-color: --purple-shades-muted;
}

.non_active_link {
  background-color: var(--purple);
  border-width: 2px;
  border-color: var(--white);
}

.tabs-center {
  text-align: center;
  margin: auto;
}

.inline-block {
  position: inline-block;
  float: left;
}
.test {
  display: inline-flex;
}

.tabs-block {
  position: block;
  float: left;
  position: relative;
}
