@import '../../../scssStyles/mixins';

.timeline-line {
  position: absolute;
  width: calc(100% - min(50px, 5vw) - min(50px, 5vw));
  height: 10px;
  background-color: var(--yellow-light);
  border-radius: 15px;
  margin-left: min(50px, 5vw);
  margin-right: min(50px, 5vw);

  @media (prefers-color-scheme: dark) {
    background-color: var(--yellow);
  }
}

.timeline-space {
  width: calc(70px - min(40px, 5vw));
}

.timeline-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 15px 0px;
}

.timeline-date-container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  padding: 15px 25px;
  margin: 0px 12px;
  max-width: 220px;
  min-width: 220px;
  position: relative;
  transform: scale(1);
  flex-grow: 2;
  box-shadow: var(--shadow);

  @media (prefers-color-scheme: dark) {
    background-color: var(--light-purple) !important;
    color: var(--white);
  }
}

.timeline-date-container-date {
  font-size: 20px;
  text-align: center;

  color: var(--text-dark);

  @media (prefers-color-scheme: dark) {
    color: var(--white);
  }
}

.timeline-date-container-name {
  margin-top: 5px;
  font-size: 18px;
  text-align: center;

  color: var(--text-dark);

  @media (prefers-color-scheme: dark) {
    color: var(--white);
  }
}

.timeline-read-more {
  color: var(--text-link);
  text-decoration: underline;
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  user-select: none;
}

.timeline-date-container-clickable {
  cursor: pointer;
  transition: transform 500ms;
  &:hover {
    transform: scale(1.05);
    transition: transform 500ms;
  }
}

.timeline-date-container-description-container {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  max-width: 300px;
  background-color: var(--white);
  padding: 18px 28px;
  margin: 0px 0px;
  border-radius: 15px;
  opacity: 0;
  right: 0px;
}

.timeline-date-container-description {
  margin-top: 10px;
}
