@import '../../scssStyles/mixins';

.scunt-point-transactions-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-dynamic);
}

.scunt-point-transactions-container {
  background-color: var(--container-bg);
  border-radius: 15px;
  padding: 40px min(75px, 5%);
  margin: 10px 50px;
  box-shadow: var(--shadow);
  width: 95vw;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  h1 {
    text-align: center;
    font-size: 40px;
    width: 100%;
  }
  h3 {
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
  }
  p {
    font-size: 17px;
    text-align: center;
    width: 100%;
  }
  .transactions-list {
    display: flex;
    flex-direction: column;
    font-size: 21px;
    p {
      font-size: 22px;
      text-align: left;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
