@import '../../../scssStyles/mixins';

.dropdown-container {
  width: fit-content;
  padding-left: 5px;
  padding-top: 3px;
}

.dropdown-header {
  padding-left: 5px;
  margin-top: 17px;
  color: var(--black);
}
.dropdown-header-disabled {
  opacity: 0.7;
  color: var(--disabled);
}

.dropdown-selected {
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid var(--purple-shades-muted);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--dropdown-selected-bg);
  .dropdown-image {
    user-select: none;
    height: 100%;
    width: 16px;
    margin-right: 10px;
    margin-top: -3px;
    transition: transform 300ms ease-in-out;
    transform: rotate(0) translateY(2.5px);
    &.open {
      transform: rotate(180deg) translateY(2.5px);
    }
  }
  transition: background-color 200ms;
  &:hover {
    background-color: var(--dropdown-hover);
  }
  color: var(--black);
}

.dropdown-selected-disabled {
  @extend .dropdown-selected;
  border: 2px solid var(--disabled);
  background-color: var(--disabled-bg);
  color: var(--disabled);
  cursor: not-allowed;
}

.dropdown-selected-label {
  margin: 0.5em 2em 0.5em 1em;
}

.dropdown-list-container {
  color: var(--black);
  border: 2px solid var(--dropdown-list-border);
  border-radius: 6px;
  margin-top: 0.2em;
  position: absolute;
  z-index: 9;
  background-color: var(--dropdown-list-bg);
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 300ms, transform 300ms;
  pointer-events: none;
}

.dropdown-list-container-open {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms, transform 300ms;
  pointer-events: all;
}

.dropdown-item {
  padding: 0.5em 0.7em 0.5em 1em;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;

  &:hover {
    background-color: var(--dropdown-hover);
  }
  @include devices(tablet) {
    padding: 0.5em 0em 0.5em 0.5em;
  }
}
