@import '../../scssStyles/mixins';

.sign-up-container1 {
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h3 {
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
  }
}

.full-width-input {
  width: 100%;
}

.sign-up-button {
  margin-top: 20px;
}
