@import '../../scssStyles/mixins';

.profile-page-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--purple);
  padding: 0% 9%;
  padding-top: 60px;
  padding-bottom: 25px;
  @include devices(tablet) {
    padding: 4% 5%;
    padding-top: 12%;
    justify-content: space-around;
  }
  h1 {
    color: var(--text-light);
    font-size: 85px;
    @include devices(tablet) {
      font-size: 65px;
    }
  }
  h2 {
    color: var(--text-light);
    font-size: 65px;
    @include devices(tablet) {
      font-size: 40px;
    }
  }
  .profile-page-name-title {
    color: var(--text-light);
    font-size: 55px;
    @include devices(tablet) {
      font-size: 30px;
    }
  }
  p {
    color: var(--text-light);
    font-size: 18px;
    @include devices(tablet) {
      font-size: 15px;
    }
  }
  .profile-edit-icon-link {
    position: absolute;
    right: 10px;
    top: 55px;
    @include devices(tablet) {
      right: 5px;
      top: 5px;
    }
  }
  .profile-edit-icon {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: var(--yellow);
    border-radius: 10px;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: transform 200ms;
    &:hover {
      transform: scale(1.05);
    }
    right: 10px;
    top: 55px;
    @include devices(tablet) {
      width: 35px;
      height: 35px;
      padding: 9px;
    }
  }
}

.profile-page-header-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
  text-align: center;
}

.profile-page-header-info-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex: 1;
  @include devices(tablet) {
    flex: unset;
    text-align: right;
  }
}

.profile-page-header-info {
  p {
    margin-top: 1px;
    margin-bottom: 3px;
    font-size: 18px;
    @include devices(tablet) {
      font-size: 11px;
    }
  }
}

.profile-page-header-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-page-announcements {
  // margin-left: 50px;
  // margin-right: 2%;
  flex: 1;
  max-width: 1000px;
  @include devices(tablet) {
    margin-left: 0;
    margin-right: 0;
  }
}

.profile-page-qr-code {
  background-color: white !important;
  align-items: center;
  p {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.profile-info-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  margin: 0% 5%;
  @include devices(tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.profile-page-accordion-container {
  color: var(--text-dynamic);
  margin: 15px 0px;
  cursor: pointer;
}

.profile-page-accordion-header {
  padding: 20px 10px;
  user-select: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-size: 22px;
    text-transform: capitalize;
    flex: 1;
    color: var(--text-dynamic);
  }
  h4 {
    font-size: 17px !important;
    text-transform: capitalize;
    color: var(--gray-time-label);
    margin-right: 10px;
    text-align: right;
  }
  @include devices(tablet) {
    padding: 15px 5px;
    align-items: center;
    h3 {
      font-size: 19px;
    }
    h4 {
      font-size: 15px !important;
    }
  }
}

.profile-page-accordion-content {
  padding: 0px 10px;
  padding-bottom: 5px;
  margin-top: -12px;
  width: 100%;
  p {
    color: var(--text-dynamic);
    font-size: 17px;
  }
  @include devices(tablet) {
    padding: 0px 5px;
    padding-bottom: 5px;
    font-size: 16px;
    width: unset;
  }
}
.profile-page-schedule-accordion {
  background-color: var(--purple-shades-light);
}

.scan-region-highlight-svg {
  stroke: var(--light-purple) !important;
}

.profile-schedule-background-purple {
  background-color: var(--purple-bg) !important;
}
.profile-schedule-background-yellow {
  background-color: var(--yellow-bg) !important;
}
.profile-schedule-background-dark-purple {
  background-color: var(--dark-purple-bg);
}
.profile-schedule-background-gray {
  background-color: var(--gray-bg);
}
.profile-schedule-background-green {
  background-color: var(--green-bg);
}
.profile-schedule-background-blue {
  background-color: var(--blue-bg);
}

.profile-logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  top: 55px;
  right: 60px;
  width: 100px;
  height: 40px;
  padding: 5px;

  text-align: center;
  font-size: 17px;
  font-weight: 600;

  background-color: var(--yellow);
  border-radius: 10px;
  box-shadow: var(--shadow);

  cursor: pointer;
  transition: transform 200ms;
  &:hover {
    transform: scale(1.05);
  }

  @include devices(tablet) {
    display: unset;
    position: absolute;
    top: 5px;
    right: 50px;
    height: 35px;
    padding: 7px 0px 0px 0px;
  }
}

.profile-not-registered {
  color: var(--text-dynamic);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  padding: 0px 20px;
}

.retreat-profile-container {
  // margin-left: 50px;
  // margin-right: 2%;
  flex: 1;
  max-width: 1000px;
  background-color: var(--purple-shades-light);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 17px 15px;
  margin-bottom: 23px;
  color: var(--text-dynamic);
  transition: transform 400ms;
  &:hover {
    transform: scale(1.01);
  }
  img {
    padding-right: 18px;
    width: 75px;
    vertical-align: middle;
    transition: transform 500ms;
  }
  h2 {
    margin-bottom: 4px;
  }
  @include devices(tablet) {
    margin-left: 0;
    margin-right: 0;
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
}
.frosh-instagram-container {
  // margin-left: 50px;
  // margin-right: 2%;
  flex: 1;
  max-width: 1000px;
  background-color: var(--purple-shades-light);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 23px;
  color: var(--text-dynamic);
  img {
    padding-right: 18px;
    width: 75px;
    vertical-align: middle;
    transition: transform 500ms;
  }
  @include devices(tablet) {
    margin-left: 0;
    margin-right: 0;
  }
  h2 {
    transition: transform 500ms;
    transform-origin: left;
  }
  &:hover {
    img {
      transform: scale(1.04);
    }
    h2 {
      transform: scale(1.02);
    }
  }
  @include devices(tablet) {
    margin-left: 0;
    margin-right: 0;
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 15px;
    }
  }
}

.profile-info-row-right {
  margin-left: 6%;

  @include devices(tablet) {
    margin-left: 0;
  }
}
