@import '../../scssStyles/mixins';

.profile-page-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--purple);
  padding: 0% 9%;
  padding-top: 45px;
  padding-bottom: 25px;
  @include devices(tablet) {
    padding: 4% 5%;
    padding-top: 12%;
    justify-content: space-around;
  }
  h1 {
    color: var(--text-light);
    font-size: 85px;
    @include devices(tablet) {
      font-size: 65px;
    }
  }
  h2 {
    color: var(--text-light);
    font-size: 65px;
    @include devices(tablet) {
      font-size: 40px;
    }
  }
  .profile-page-name-title {
    color: var(--text-light);
    font-size: 55px;
    @include devices(tablet) {
      font-size: 30px;
    }
  }
  p {
    color: var(--text-light);
    font-size: 18px;
    @include devices(tablet) {
      font-size: 15px;
    }
  }
  .profile-edit-icon-link {
    position: absolute;
    right: 10px;
    top: 55px;
    @include devices(tablet) {
      right: 5px;
      top: 5px;
    }
  }
  .profile-edit-icon {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: var(--yellow);
    border-radius: 10px;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: transform 200ms;
    &:hover {
      transform: scale(1.05);
    }
    right: 10px;
    top: 55px;
    @include devices(tablet) {
      width: 35px;
      height: 35px;
      padding: 9px;
    }
  }
}
.profile-logout-button {
  display: none;

  @include devices(tablet) {
    display: unset;
    position: absolute;
    top: 0px;
    right: 112px;
    width: 35px;
    height: 35px;
    padding: 5px;
  }
}

.profile-page-header-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
  text-align: center;
}

.profile-page-header-info-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex: 1;
  @include devices(tablet) {
    flex: unset;
    text-align: right;
  }
}

.profile-page-header-info {
  p {
    margin-top: 1px;
    margin-bottom: 3px;
    font-size: 18px;
    @include devices(tablet) {
      font-size: 11px;
    }
  }
}

.profile-page-header-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-page-announcements {
  margin-left: 50px;
  margin-right: 2%;
  flex: 1;
  max-width: 1000px;
  @include devices(tablet) {
    margin-left: 0;
    margin-right: 0;
  }
}

.profile-page-schedule {
  margin-left: 50px;
  margin-right: 2%;
  flex: 1;
  max-width: 1000px;
  margin-top: 20px;
  @include devices(tablet) {
    margin-left: 0;
    margin-right: 0;
  }
}

.profile-page-section-header {
  padding-top: 15px;
  font-size: 42px;
  color: var(--black);
  padding-bottom: 5px;
  @include devices(tablet) {
    margin-left: 1%;
    font-size: 34px;
    padding-top: 25px;
  }
}

.profile-page-section-header-schedule {
  padding-bottom: 15px;
}

.profile-page-qr-code {
  max-width: 350px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  @include devices(tablet) {
    max-width: 90vw;
    width: 90vw;
    margin-top: 20px;
  }
  p {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.profile-info-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  margin: 0% 5%;
  @include devices(tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.profile-page-resources {
  max-width: 350px;
  margin-top: 20px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  flex: 0;
  flex-shrink: 1;
  padding: 25px 30px;
  h2 {
    font-size: 32px;
  }
  @include devices(tablet) {
    max-width: 90vw;
    width: 90vw;
    h2 {
      font-size: 26px;
    }
  }
}

.profile-page-schedule-accordions {
  margin-top: -8px;
  @include devices(tablet) {
    margin-top: -13px;
  }
}

.profile-page-accordion-container {
  margin: 15px 0px;
  cursor: pointer;
}

.profile-page-accordion-header {
  padding: 20px 10px;
  user-select: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-size: 22px;
    text-transform: capitalize;
    flex: 1;
  }
  h4 {
    font-size: 17px !important;
    text-transform: capitalize;
    color: var(--purple);
    margin-right: 10px;
  }
  @include devices(tablet) {
    padding: 15px 5px;
    flex-direction: column;
    align-items: flex-start;
    h3 {
      font-size: 19px;
    }
    h4 {
      font-size: 15px !important;
    }
  }
}

.profile-page-accordion-content {
  padding: 0px 10px;
  padding-bottom: 5px;
  margin-top: -12px;
  p {
    font-size: 17px;
  }
  @include devices(tablet) {
    padding: 0px 5px;
    padding-bottom: 5px;
    font-size: 16px;
  }
}
.profile-page-schedule-accordion {
  background-color: var(--purple-shades-light);
}

.scan-region-highlight-svg {
  stroke: var(--light-purple) !important;
}

.profile-page-scanned-data {
  background-color: var(--purple-shades-light);
  transition: background-color 450ms;
  padding: 15px 20px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.profile-page-manual-entry-header {
  font-size: 25px;
  margin-top: 25px;
}

.profile-page-scanned-data-success {
  background-color: var(--green-success);
  animation: pulse 350ms forwards;
}

.profile-page-scanned-data-error {
  background-color: var(--red-error);
  animation: pulse 350ms forwards;
}

.manual-sign-in-frosh-search-result-container {
  margin-bottom: 12px;
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 17px;
    margin: 0px;
  }
}

.manual-sign-in-frosh-search-result {
  background-color: var(--purple-shades-light);
  width: 100%;
  margin: 5px 0px !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

.profile-schedule-background-purple {
  background-color: var(--purple-bg) !important;
}
.profile-schedule-background-yellow {
  background-color: var(--yellow-bg) !important;
}
.profile-schedule-background-dark-purple {
  background-color: var(--dark-purple-bg);
}
.profile-schedule-background-gray {
  background-color: var(--gray-bg);
}
.profile-schedule-background-green {
  background-color: var(--green-bg);
}
.profile-schedule-background-blue {
  background-color: var(--blue-bg);
}
