@import '../../scssStyles/mixins';

.frosh-info-table {
  padding-bottom: 15px;
  .buttons-container {
    display: block;
    margin-right: -5px;
    text-align: right;
    @include devices(tablet) {
      display: inline-block;
      margin: auto;
      text-align: center;
      margin-right: 0px;
    }
  }
  h1 {
    word-break: keep-all;
    white-space: nowrap;
    margin-bottom: 10px;
    color: var(--text-dynamic);
    font-size: 40px;
    @include devices(tablet) {
      margin-bottom: 0px;
      text-align: center;
    }
  }
  h2 {
    color: var(--text-dynamic);
  }

  .header {
    display: flex;
    margin: 20px 5%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
    margin-top: 40px;
    @include devices(tablet) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 25px;
    }
  }
  .popup-button {
    margin: 20px 0px;
    text-align: center;
  }
  .search {
    margin: 0px calc(5% - 4px);
    margin-top: -14px;
  }
  .small-print {
    margin: 0px 5%;
    margin-top: 5px;
    font-size: 12px;
    color: var(--text-dynamic);
  }
  .table-wrap {
    padding: 15px 5%;
    padding-bottom: 0;
    @include devices(tablet) {
      padding: 15px 1%;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    border-radius: 10px;
    color: var(--text-dynamic);
    @include devices(tablet) {
      margin: auto;
    }
    table-layout: fixed;
  }
  th {
    background-color: var(--purple);
    color: var(--white);
    cursor: pointer;
  }
  td {
    word-wrap: break-word;
  }
  td,
  th {
    border: none;
    text-align: left;
    padding: 8px 10px;
    user-select: none;
  }
  tr:nth-child(odd) {
    background-color: var(--purple-shades-light-light);
  }
  tr:nth-child(even) {
    background-color: var(--purple-shades-light);
  }

  .pagination-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 5%;
    background-color: var(--purple);
    color: var(--white);
    border-radius: 0 0 15px 15px;
  }

  .pagination-pages,
  .pagination-number {
    background-color: var(--dark-grey);
    border: 1px solid var(--light-accent);
    border-radius: 15px;
    color: var(--white);
    padding: 0.5vh 1vw;
    font-size: 16px;
  }
}
