@import '../../scssStyles/mixins';

.frosh-info-table {
  h1 {
    margin-bottom: 10px;
    color: var(--text-dynamic);
    font-size: 40px;
    @include devices(tablet) {
      margin-bottom: 0px;
      text-align: center;
    }
  }
  .header {
    display: flex;
    margin: 20px 5%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
    margin-top: 40px;
    @include devices(tablet) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 25px;
    }
  }
  .small-print {
    margin: 0px 5%;
    margin-top: -14px;
    font-size: 12px;
    color: var(--black);
  }
  .table-wrap {
    padding: 15px 5%;
    @include devices(tablet) {
      padding: 15px 1%;
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 10px;
    color: var(--text-dynamic);
    @include devices(tablet) {
      margin: auto;
    }
  }
  th {
    background-color: var(--purple);
    color: var(--white);
  }
  td,
  th {
    border: none;
    text-align: left;
    padding: 8px 10px;
  }
  tr:nth-child(odd) {
    background-color: var(--purple-shades-light-light);
  }
  tr:nth-child(even) {
    background-color: var(--purple-shades-light);
  }
}
