@import '../../../scssStyles/mixins';

.tanu-landing-page-container {
  background: repeating-linear-gradient(35deg, #6f1e88 0px 2px, #a04fb9 0px 4px);
  top: 0;
  height: 100vh;
}
.tanu-landing-page-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 8%;
  .tanu-landing-page-under-construction-text {
    color: white;
    font-style: bold;
    text-align: center;
    font-size: 80px;

    background: repeating-linear-gradient(45deg, #ffe76a 0px 6px, #ffe863 0px 12px);
    padding: 20px;
    margin-bottom: 24px;
    text-shadow: 0px 2px 4px #000000;
  }
  .tanu-landing-page-subtitle-text {
    color: white;
    font-style: bold;
    text-align: center;
    font-size: 40px;
    margin-bottom: 24px;
  }
}

.tanu-landing-page-hrline {
  background: repeating-linear-gradient(45deg, #ffe76a 0px 6px, #ffe863 0px 12px);
  margin-top: 5%;
  align-items: center;
  height: 1vh;
  border: transparent;
}
.tanu-landing-page-social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  .tanu-landing-page-insta-logo {
    padding-right: 2%;
  }

  .tanu-landing-page-froshweek {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    color: white;
    font-style: bold;
    text-align: center;
    font-size: 25px;
    .tanu-landing-page-froshweek-text {
      padding-top: 1%;
    }
  }
  .tanu-landing-page-froshnomore {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    color: white;
    font-style: bold;
    text-align: center;
    font-size: 25px;
    margin-bottom: 24px;
    .tanu-landing-page-froshnomore-text {
      padding-top: 1%;
    }
  }
}

@include devices(tablet) {
  .tanu-landing-page-title-container {
    padding-top: 30%;
    .tanu-landing-page-under-construction-text {
      font-size: 40px;
      padding: 20px;
      margin-bottom: 24px;
      text-shadow: 0px 2px 4px #000000;
    }
    .tanu-landing-page-subtitle-text {
      color: white;
      font-style: bold;
      text-align: center;
      font-size: 20px;
      margin-bottom: 24px;
    }
  }

  .tanu-landing-page-social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    .tanu-landing-page-insta-logo {
      padding-right: 2%;
    }

    .tanu-landing-page-froshweek {
      font-size: 20px;
      .tanu-landing-page-froshweek-text {
        padding-top: 1%;
      }
    }
    .tanu-landing-page-froshnomore {
      font-size: 20px;
      margin-bottom: 24px;
      .tanu-landing-page-froshnomore-text {
        padding-top: 1%;
      }
    }
  }
}
