@import '../../scssStyles/mixins';

.faq-leaders-page {
  margin-top: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  @include devices(tablet) {
    width: 80%;
  }
}

.faq-leaders-create-question-container {
  padding: 10px;
  width: 70vw;
  background-color: var(--purple-shades-light);
  border-radius: 15px;
}

.faq-leaders-edit-question-container {
  margin-top: 50px;
  padding: 10px;
  width: 70vw;
  background-color: var(--purple-shades-light);
  border-radius: 15px;
}

.faq-leaders-answered-questions {
  width: 47%;
  margin: 1%;
  display: inline-block;
  border: 2px solid var(--purple-shades-dark);
  border-radius: 15px;
  vertical-align: top;
}

.faq-leaders-unanswered-questions {
  width: 47%;
  margin: 1%;
  display: inline-block;
  border: 2px solid var(--purple-shades-dark);
  border-radius: 15px;
  vertical-align: top;
}

.faq-leaders-hide {
  display: none;
}

.faq-leaders-questions-container {
  margin: 15px 10px 0px 10px;
  padding: 20px 30px 20px 30px;
  background-color: var(--container-bg);
  border-radius: 15px;
  color: var(--text-dark-use);
}
.faq-leaders-titles {
  margin: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--text-dark-use);
  @include devices(tablet) {
    font-size: 25px;
  }
}

.faq-leaders-subtitles {
  margin: 7px;
  font-size: 16px;
  color: var(--text-dark-use);
  @include devices(tablet) {
    font-size: 14px;
  }
}

.faq-leaders-questions-subtitles {
  font-size: 16px;
  text-align: center;
  color: var(--text-dark-use);
  @include devices(tablet) {
    font-size: 14px;
  }
}

.faq-leaders-questions-smaller {
  background-color: var(--purple-shades-light);
  border-radius: 12px;
  color: var(--text-dark-use);
  @include devices(tablet) {
    font-size: 16px;
  }
}

.faq-leaders-attribute {
  text-decoration: underline var(--purple-shades-dark);
}

.faq-leaders-description {
  color: var(--text-dark-use);
  @include devices(tablet) {
    font-size: 16px;
  }
  margin-top: 5px;
}

.faq-leaders-edit-title-container {
  display: flex;
  justify-content: space-between;
}

.faq-leaders-edit-title {
  padding-top: 20px;
  margin-bottom: 7px;
  font-size: 26px;
  font-weight: bold;
  color: var(--text-dark-use);
  @include devices(tablet) {
    font-size: 22px;
  }
}

.faq-leaders-no-result {
  font-weight: bold;
  margin: 10px;
  color: var(--text-dark-use);
}
