@import '../../scssStyles/mixins';

.faq-leaders-page {
  margin-top: 100px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  @include devices(tablet) {
    width: 80%;
  }
}

.faq-leaders-hide-questions {
  display: none;
}

.faq-leaders-hide {
  display: none;
}

.faq-leaders-questions-container {
  margin: 15px 10px 0px 10px;
  padding: 20px 30px 20px 30px;
  background-color: var(--purple-shades-light);
  border-radius: 15px;
  color: var(--text-dark);
}

.faq-leaders-questions {
  margin-bottom: 7px;
  font-size: 26px;
  font-weight: bold;
  color: var(--text-dark);
  @include devices(tablet) {
    font-size: 22px;
  }
}

.faq-leaders-titles {
  margin-top: 50px;
  margin-bottom: 7px;
  font-size: 26px;
  font-weight: bold;
  color: var(--text-dark);
  @include devices(tablet) {
    font-size: 22px;
  }
}

.faq-leaders-questions-smaller {
  background-color: var(--purple-shades-light);
  border-radius: 12px;
  color: var(--text-dark);
  @include devices(tablet) {
    font-size: 16px;
  }
}

.faq-leaders-answers {
  margin-top: 7px;
  background-color: var(--purple-shades-light);
  border-radius: 12px;
  color: var(--text-dark);
  @include devices(tablet) {
    font-size: 16px;
  }
}

.faq-leaders-category {
  margin-top: 15px;
  background-color: var(--purple-shades-light);
  border-radius: 12px;
  color: var(--text-dark);
  @include devices(tablet) {
    font-size: 16px;
  }
}

.faq-leaders-edit-title-container {
  display: flex;
  justify-content: space-between;
}

.faq-leaders-edit-title {
  padding-top: 20px;
  margin-bottom: 7px;
  font-size: 26px;
  font-weight: bold;
  color: var(--text-dark);
  @include devices(tablet) {
    font-size: 22px;
  }
}

.faq-leaders-no-result {
  padding-top: 20px;
}
