@import '../../../scssStyles/mixins';

.text-input-container {
  margin-top: 14px;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.text-input-container-no-margin {
  margin-top: 3px;
}

.text-input {
  font-size: 17px;
  background-color: var(--textinput-bg);
  border-radius: 10px;
  outline: none;
  border: none;
  transition: background-color 400ms, box-shadow 400ms;
  padding: 12px 20px;
  margin: 4px;
  width: 100%;
  color: var(--black);

  &:hover {
    background-color: var(--textinput-bg);
    box-shadow: 0px 0px 6px 1px var(--textinput-shadow-hover);
    transition: background-color 500ms, box-shadow 500ms;
  }
  &:focus {
    background-color: var(--textinput-bg);
    box-shadow: 0px 0px 15px -3px var(--textinput-shadow-focus);
    transition: background-color 500ms, box-shadow 500ms;
  }
}

.text-input-area {
  height: 105px;
  min-height: 45px;
  min-width: calc(50% - 10px);
}

.text-input-error {
  border: var(--red-error) 2.5px solid;
}

.text-input-title {
  font-size: 16px;
  color: var(--black);
}

.text-input-title-container {
  padding-left: 6px;
  display: flex;
  flex-direction: row;
}
.text-input-title-container-disabled {
  opacity: 0.4;
}

.text-input-description {
  margin-top: 2px;
  padding-left: 6px;
  font-size: 13px;
  color: var(--text-dynamic);
}

.text-input-error-message {
  margin-top: 1px;
  margin-bottom: 3px;
  padding-left: 6px;
  font-size: 15px;
  color: var(--red-error);
}

.text-input-required-star {
  color: var(--red-error);
  display: inline-block;
  font-size: 13px;
  margin-bottom: -10px;
  font-weight: 800;
  padding-left: 2px;
}

.text-input-disabled {
  opacity: 0.4;
  background-color: var(--disabled);
  &:hover {
    background-color: var(--on-white);
    box-shadow: none;
    cursor: no-drop;
  }
}

.text-input-password-eye {
  display: unset;
  transition: transform 0.3s;
  width: 26px;
  right: 17px;
  top: 17px;
  position: absolute;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.inline-block-remaining {
  padding: 0px 5px 0px 5px;
}

.text-input-disabled-container {
  opacity: 0.7;
  color: var(--gray);
}
