@import '../../../../scssStyles/mixins';

.profile-leader-dashboard-links {
  // background-color: var(--jam);
  color: var(--text-dynamic);
  display: flex;
  // flex-direction: row;
  flex-direction: column;
  justify-content: start !important;
  align-items: center;
  text-align: center;
  // margin-left: 35px;
  // margin-right: 20px;
  @include devices(tablet) {
    flex-direction: column;
    margin: auto;
  }
  width: 100%;

  .profile-leader-dashboard-permissions-links {
    margin-bottom: 25px;
    @include devices(tablet) {
      width: 350px;
      margin-bottom: 0px;
    }
  }
  .profile-leader-dashboard-other-links {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 0;
    width: 100%;
    @include devices(tablet) {
      margin-top: 5%;
      margin-left: 0;
    }
  }

  .dashboard-dropdown-image {
    user-select: none;
    height: 100%;
    width: 16px;
    margin-right: 10px;
    // margin-top: 2px;
    transition: transform 300ms ease-in-out;
    transform: rotate(0) translateY(2.5px);
    &.open {
      transform: rotate(180deg) translateY(2px);
    }
  }
}
