@import '../../scssStyles/mixins';

.accounts-approval-page-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  // top: 10%;
  width: 100%;
  height: fit-content;
  padding: 10% 1%;

  @include devices(mobile) {
    padding: 10% 0;
  }
  // height: 100%;
}

.accounts-approval-tabs-container {
  width: 90%;
  // height: fit-content;

  @include devices(mobile) {
    width: 100%;
  }
}

// SOMETHING ELSE?????
// input[type='checkbox'] {
//     color: var(--purple);
//     width: 20px;
//     height: 20px;
//     border: 3px solid var(--purple);
//     border-radius: 3px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     -webkit-appearance: none;
//     appearance: none;
//     background-color: var(--form-background);
//     margin: 0;
//     cursor: pointer;
//     transition: transform 220ms;
// }

// ALL ACCOUNTS COMPONENT
.all-accounts-component-container {
  display: flex;
}

// // APPROVE/DENY CHECKBOXES
// .approve-deny-checkbox-container {
//     display: flex;
//     width: fit-content;
//     height: fit-content;
//     flex-direction: row;

//     // margin-left: auto;
//     // margin-right: auto;
// };

// .approve-deny-checkbox {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: 2px;
//     width: 20px;
//     height: 20px;
//     border-radius: 3px;
//     cursor: pointer;
// }
// .approve-gray-checkbox {
//     color: var(--gray);
//     border: 3px solid var(--gray);
// }
// .approve-green-check {
//     background: var(--green-success);
//     border: 3px solid var(--green-success);
// }
// .approve-red-cross {
//     background: var(--red-error);
//     border: 3px solid var(--red-error);
// }

// .approve-icon {
//     width: 85%;
// }
// .deny-icon {
//     width: 70%;
// }

// TABLE
.all-accounts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background: var(--white);
  border-radius: 10px;
}
.all-accounts-buttons {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
}
.all-accounts-table {
  width: 100%;
  border-collapse: collapse;
}
.all-accounts-table-header-row {
  box-sizing: border-box;
  border-bottom: 4px solid var(--page-bg);
  //height: 60px;
  vertical-align: bottom;
}
// .all-accounts-table-header,
// .all-accounts-table-header-verified,
// .all-accounts-table-header-email,
// .all-accounts-table-header-approvedeny {
//     padding: 8px;
// }

.all-accounts-table-header {
  padding: 8px;
}
.all-accounts-table-header-left-align {
  padding: 8px;
  text-align: left;
}

.all-accounts-row {
  border-bottom: 2px solid var(--page-bg);

  // @include devices(tablet) {
  //     font-size: 12px;
  // }
}
// .all-accounts-table-header-email {
//     text-align: left;
//     padding: 8px;
// }
.all-account-data {
  padding: 8px;

  // @include devices(tablet) {
  //     width: 120px;
  //     overflow-x: scroll;
  // }
}
.verified-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;

  @include devices(tablet) {
    width: 15px;
    height: 15px;
  }
}
.green-verified-circle {
  background: var(--green-success);
}
.gray-verified-circle {
  background: var(--gray);
}
.all-account-data-verified {
  width: 50px;
  padding: 0px;
}
.all-account-data-verified-container {
  width: 120px;

  @include devices(tablet) {
    font-size: 13px;
  }
}
.all-account-data-checkboxes {
  width: 150px;
}

/// AUTH SCOPES TAB
.all-account-data-name {
  padding: 8px;
}
.auth-req-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3px;
}
.auth-req-text {
  margin-left: 5px;
}
