@import '../../scssStyles/mixins';

.accounts-page-number-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 32px;
  margin: 20px 20px 10px 20px;

  overflow: hidden;
  border-radius: 10px;
  border: 2px solid var(--purple-shades-muted);
}
.accounts-page-number-box {
  text-align: center;
  font-size: 14px;

  padding: 8px 10px;
  border-style: solid;
  border-color: var(--purple-shades-muted);
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  cursor: pointer;
}

.page-number-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: var(--purple-shades-light);
    transition: background-color 200ms;
  }
}
.page-number-arrow {
  width: 30px;
  height: 30px;
  padding: 8px 10px;
  pointer-events: all;
  transition: transform 200ms, background-color 200ms;

  &:hover,
  &:active {
    transform: scale(1.07);
    transition: transform 200ms;
  }
}

.accounts-page-number-box-current {
  background-color: var(--purple-shades-muted);
  color: var(--white);
}
