// APPROVE/DENY CHECKBOXES
.approve-deny-checkbox-container {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: row;
}

.approve-deny-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 200ms, background-color 400ms;

  &:hover {
    transform: scale(1.07);
  }
}
.approve-gray-checkbox {
  color: var(--gray);
  border: 3px solid var(--gray);
}
.approve-green-check {
  background-color: var(--green-success);
  border: 3px solid var(--green-success);
}
.approve-red-cross {
  background-color: var(--red-error);
  border: 3px solid var(--red-error);
}

.approve-icon {
  width: 85%;
}
.deny-icon {
  width: 70%;
}
