@import '../../scssStyles/mixins.scss';

li {
  list-style-type: none;
}

.navbar-desktop {
  display: unset;
  @include devices(tablet) {
    display: none;
  }
}
.navbar-mobile {
  display: none;
  @include devices(tablet) {
    display: unset;
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;

  align-items: center;
  z-index: 100;
  position: fixed;
  background-color: var(--navbar-bg);
  width: 100%;
  height: 45px;

  filter: drop-shadow(0px -2px 5px rgba(0, 0, 0, 0.25));
}
.navbar-main,
.navbar-special {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar-container a {
  text-decoration: none;
  background: none;
}

.navbar-sub-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;

  margin-right: 25px;
  height: 35px;
  width: 80px;

  border-radius: 5px;

  &:hover,
  &:active {
    color: var(--purple);
    transition: color 200ms;

    .navbar-underline {
      background-color: var(--purple);
      transition: background-color 200ms;
    }
  }
  .navbar-underline {
    transition: background-color 200ms;
  }
}

.navbar-link {
  position: absolute;
  color: var(--gray);
  font-size: 16px;
  font-weight: 700;
}

.navbar-underline {
  align-self: flex-end;
  width: 80px;
  height: 3px;
  overflow: hidden;
  border-radius: 15px;
}

.underline-page-selected {
  background-color: var(--purple);
  align-self: flex-end;
  width: 80px;
  height: 3px;
  overflow: hidden;
  border-radius: 15px;
  transition: background-color 200ms;
}
.underline-page-unselected {
  opacity: 0;

  transition: background-color 200ms;
}

.icon-logo {
  width: 38px;
  height: 38px;

  margin-left: 15px;
  margin-right: 40px;
}

.icon-profile {
  background: var(--purple);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;

  margin-left: auto;
  margin-right: 15px;

  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: var(--yellow-light);
}

.icon-profile-person {
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: 15px;
}

.register,
.login,
.frosh-profile {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;

  margin-right: 15px;
  height: 35px;
  border-radius: 10px;

  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.register {
  width: 100px;
  background-color: var(--purple);
  border-radius: 10px;
  color: var(--text-light);
}
.login {
  box-sizing: border-box;
  width: 80px;
  background-color: var(--navbar-bg);
  color: var(--purple);

  border: 2px;
  border-style: solid;
  border-color: var(--purple);
  border-radius: 10px;
}

.frosh-profile {
  width: 150px;
  background-color: var(--purple);
  border-radius: 10px;
  color: var(--text-light);

  box-sizing: border-box;
  border: 2px;
  border-style: solid;
  border-color: var(--purple);
  border-radius: 10px;
}

//animations
.register,
.login,
.frosh-profile {
  &:hover,
  &:active {
    transform: scale(0.97);
    transition: transform 150ms;
  }
}

/* MOBILE VIEW */
@include devices(mobile) {
  .navbar-container {
    bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: drop-shadow(0px -2px 5px rgba(0, 0, 0, 0.25));
  }

  .icon-logo {
    margin-left: 10px;
    margin-right: 30px;
  }

  .navbar-main {
    width: 150px;
    margin: auto;
    align-self: center;
    justify-content: space-between;
  }

  .login {
    font-size: 14px;
    border-radius: 8px;
    margin-right: 10px;
    width: 65px;
  }

  .navbar-menu-icon {
    align-self: center;
    width: 25px;
    height: 25px;
  }

  .navbar-sub-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-right: 5px;
    margin-left: 5px;
    width: 40px;
  }

  .navbar-underline {
    background-color: var(--navbar-underline);
    bottom: 0;
    width: 40px;
    height: 3px;
  }

  .underline-page-selected {
    background-color: var(--purple);
    bottom: 0;
    width: 40px;
    height: 3px;
  }

  .navbar-svg-icon {
    width: 25px;
    margin: 3px 0 0 0;
  }

  .icon-profile {
    margin-right: 10px;
    margin-left: 30px;
    font-size: 14px;

    &:hover {
      transform: scale(0.97);
      transition: transform 150ms;
    }
  }
}
