@import '../../scssStyles/mixins.scss';

* {
  font-size: large;
  font-weight: bold;
}

.navbar-desktop {
  display: unset;
  @include devices(tablet) {
    display: none;
  }
}
.navbar-mobile {
  display: none;
  @include devices(tablet) {
    display: unset;
  }
}
