.exec-container {
  position: relative;
  background: var(--purple);
  width: 400px;
  height: 400px;

  border-radius: 10px;
  overflow: hidden;
  margin: 30px;

  cursor: pointer;

  &:hover,
  &:active {
    // object-fit: fill;
    .wave-profile {
      transform: scaleY(1.2);
      transition: transform 200ms ease-in;
    }
  }

  .wave-profile {
    transform: scaleY(1);
    transition: transform 200ms ease-in;
  }
}

.exec-image {
  display: block;
  width: 100%;
  height: auto;
}

.wave-profile {
  position: absolute;
  // display: block;
  width: 100%;
  height: auto;
  bottom: 0;
  opacity: 0.9;

  filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.25));
}

.exec-profile-title-cont {
  position: absolute;
  bottom: 0;
  padding: 5.5%;
}

.exec-profile-position {
  color: var(--yellow);
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  margin: 0;
}

.exec-profile-name {
  color: var(--white);
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

// On Click
.exec-profile-description {
  position: absolute;
  background: var(--purple);
  opacity: 0.9;

  width: 90%;
  height: 90%;
  top: 0;

  color: var(--white);
  font-size: 12px;
  font-weight: 300;

  padding: 5%;
}

.exec-profile-desctiption-dis,
.exec-profile-desctiption-role,
.exec-profile-description-fav {
  margin-top: 0px;

  .exec-profile-desctiption-dis,
  .exec-profile-desctiption-role {
    margin-bottom: 25px;
  }
}
