@import '../../../scssStyles/mixins';

.exec-container {
  position: relative;
  background: var(--purple);
  width: min(40vw, 400px);
  height: min(40vw, 400px);

  border-radius: 10px;
  margin: min(1vw, 30px);
  box-shadow: var(--shadow);

  cursor: pointer;
  overflow: hidden;

  @include devices(mobile) {
    margin: 10px;
    width: 85vw;
    height: 85vw;
  }
}

.exec-image {
  display: block;
  width: 100%;
  height: auto;
}

.exec-image-hover {
  cursor: pointer;
  transition: transform 200ms;

  &:hover {
    transform: scale(1.02);
    transition: transform 200ms;
  }
  &:active {
    transform: scale(0.97);
    transition: transform 150ms;
  }
}

.wave-profile {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  opacity: 0.9;

  filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.25));
}

.exec-profile-title-cont {
  margin-bottom: 20px;
}

.exec-profile-position {
  color: var(--yellow);
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  margin: 0;

  @include devices(tablet) {
    font-size: 16px;
  }
}

.exec-profile-name {
  text-align: left;
  color: var(--white);
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 10px;

  @include devices(tablet) {
    font-size: 22px;
  }
}

// On Click
.exec-profile-description {
  position: absolute;
  background: var(--purple);
  opacity: 0.95;

  width: 100%;
  height: 100%;
  top: 0;
  padding: 5%;
  overflow-y: scroll;
  overflow-x: hidden;

  color: var(--white);
  font-size: 16px;
  font-weight: 300;
  //text-align: justify;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: var(--transparent);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--light-purple);
  }

  @include devices(tablet) {
    font-size: 14px;
  }
}

.nonexec-profile-description-container {
  position: absolute;
  background: var(--purple);
  opacity: 0.95;

  width: 100%;
  height: 100%;

  top: 0;
  padding: 5%;
  overflow-y: scroll;
  overflow-x: none;

  color: var(--white);
  font-size: 16px;
  font-weight: 300;

  display: flex;
  justify-content: center;
  align-items: center;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: var(--transparent);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--light-purple);
  }

  @include devices(tablet) {
    font-size: 14px;
  }
}

.subcom-profile-mobile-display {
  @include devices(tablet) {
    display: block;
  }
}

.nonexec-profile-description {
  display: flex;
  flex-direction: column;
  color: var(--white);
  padding: 10%;
  //text-align: left;
  align-self: center;
  justify-self: center;
}

.exec-profile-description-dis,
.exec-profile-description-role,
.exec-profile-description-fav {
  color: var(--white);
}

.exec-profile-description-dis,
.exec-profile-description-role {
  margin-bottom: 25px;
}
.nonexec-dicipline {
  margin-bottom: 10px;
}

.exec-profile-description-show {
  opacity: 1;
  transition: opacity 200ms;
}
.exec-profile-description-hide {
  opacity: 0;
  transition: opacity 200ms;
  user-select: none;
  pointer-events: none;
}

.cochairs-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  //margin-top: 15px;
}

.bribes-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 25px;
}

.profile-subcom-people {
  margin: 3px;
  color: var(--white);
}

.subcom-container {
  @include devices(tablet) {
    width: 45vw;
    height: 45vw;
  }
}
