$primary-dark: #935ebf;
$primary-light: #ecd6ff;

@mixin center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingAnimationContainer {
  @include center-div;
}
@media (prefers-reduced-motion: no-preference) {
  .loadingAnimation {
    @include center-div;
    $size: 28vmin;
    animation: 0.9s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #{$primary-light} {
      bottom-color: #{$primary-dark};
      radius: 50%;
    }
    height: $size;
    width: $size;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  position: absolute;
  height: 25vmin;
}

/* Remove everything under this to stop logo spinning */

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 1.5s linear;
  }
}

@keyframes logo-spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
